.choosing {
    background-image: url("drawful-animate/choosing.png")
}

.choosing .choices .choice {
    padding: 5px 0;
    border: 7px solid #000;
    border-image: url("drawful-animate/choosing_choices_choice.svg") 7 7 fill;
    border-image-repeat: inherit;
    cursor: pointer;
    margin: 6px 0;
    width: 100%;
    min-height: 48px;
    font-size: 18px;
    background-clip: padding-box;
    background-color: #000;
    color: #fff
}

.choosing .choices .choice:disabled {
    cursor: not-allowed
}

.choosing .choices .choice:active:not(:disabled),
.choosing .choices .choice.chosen {
    border-image: url("drawful-animate/choosing_choices_choice_active_not(_disabled).svg") 7 7 fill;
    background-color: #fff;
    color: #000
}

.choosing .choices .choice .drawing {
    width: 20%;
    height: auto
}

.choosing .choices .choice .text {
    display: block;
    position: relative
}

.choosing .track-image-container {
    width: 75%;
    position: relative;
    margin: 50px auto 0px auto
}

.choosing .track-image-container::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    transform: translateX(-50%);
    top: -13%;
    left: 50%;
    background-image: url("drawful-animate/choosing_track-image-container_after.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transition: left .15s
}

.choosing .track-image-container.speed-0::after {
    left: 12%
}

.choosing .track-image-container.speed-1::after {
    left: 31%
}

.choosing .track-image-container.speed-2::after {
    left: 50%
}

.choosing .track-image-container.speed-3::after {
    left: 69%
}

.choosing .track-image-container.speed-4::after {
    left: 88%
}

.choosing.doubling-down .prompt,
.choosing.liking .prompt {
    color: #000;
    margin-top: 15px;
    text-transform: lowercase;
    padding: 10px 0px;
    position: relative
}

.choosing.doubling-down .prompt::before,
.choosing.liking .prompt::before {
    content: "";
    width: 100%;
    height: 10px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("drawful-animate/choosing_doubling-down_prompt_before.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%
}

.choosing.doubling-down .prompt::after,
.choosing.liking .prompt::after {
    content: "";
    width: 100%;
    height: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: url("drawful-animate/choosing_doubling-down_prompt_before.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%
}

.choosing.doubling-down .choices,
.choosing.liking .choices {
    padding: 5px 10%
}

.choosing.doubling-down .choices .choice,
.choosing.liking .choices .choice {
    color: #000;
    text-align: left;
    border: 0px solid transparent;
    border-image: none;
    background-color: transparent;
    padding-left: 45px;
    background-image: url("drawful-animate/choosing_doubling-down_choices_choice.png");
    background-position: center left;
    background-repeat: no-repeat;
    background-size: 44px
}

.choosing.doubling-down .choices .choice.selected,
.choosing.doubling-down .choices .choice.chosen,
.choosing.liking .choices .choice.selected,
.choosing.liking .choices .choice.chosen {
    background-image: url("drawful-animate/choosing_doubling-down_choices_choice_selected.png")
}

.choosing.doubling-down .choices .choice:active:not(:disabled),
.choosing.doubling-down .choices .choice.chosen,
.choosing.liking .choices .choice:active:not(:disabled),
.choosing.liking .choices .choice.chosen {
    color: #fff;
    background-color: transparent;
    border-image: none
}

.choosing.doubling-down .doubleDown .doubleDownPrompt,
.choosing.liking .doubleDown .doubleDownPrompt {
    word-break: break-word;
    background-clip: padding-box;
    background-color: #000;
    border: 7px solid #000;
    border-image: url("drawful-animate/choosing_choices_choice.svg") 7 7 fill;
    border-image-repeat: inherit;
    color: #fff
}

.choosing.doubling-down .doubleDown .subheader,
.choosing.liking .doubleDown .subheader {
    display: block;
    font-size: .5em
}

.choosing.doubling-down .doubleDown button,
.choosing.liking .doubleDown button {
    margin-top: 20px;
    padding-right: 45px;
    border: none;
    font-size: 26px;
    color: #000;
    background: none;
    background-image: url("drawful-animate/choosing_doubling-down_doubleDown_button.png");
    background-position: center right;
    background-repeat: no-repeat;
    background-size: 40px;
    overflow: visible
}

.choosing.doubling-down .doubleDown button.active,
.choosing.doubling-down .doubleDown button.chosen,
.choosing.liking .doubleDown button.active,
.choosing.liking .doubleDown button.chosen {
    background-image: url("drawful-animate/choosing_doubling-down_doubleDown_button_active.png")
}

.choosing.doubling-down .doubleDown button.used,
.choosing.doubling-down .doubleDown button.inactive,
.choosing.doubling-down .doubleDown button.chosen,
.choosing.liking .doubleDown button.used,
.choosing.liking .doubleDown button.inactive,
.choosing.liking .doubleDown button.chosen {
    opacity: .25
}

.choosing.doubling-down .doubleDown .info,
.choosing.liking .doubleDown .info {
    font-size: 15px;
    opacity: .5
}

.jbg[data-v-2df46cec] {
    background: #fff;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 10px;
    font-weight: bold;
    color: #333
}

.jbg a[data-v-2df46cec] {
    color: #4254f4;
    text-decoration: none
}

.jbg h1[data-v-2df46cec] {
    font-size: 2em
}

.jbg button[data-v-2df46cec] {
    cursor: pointer;
    height: 48px;
    width: calc(100% - 50px);
    margin: 10px 25px 15px;
    border: none;
    border-radius: 12px;
    font-size: 18px;
    font-weight: bold;
    background-color: #4254f4;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 5px 0 0 #0e167d;
    transition: color .5s, background-position .5s, box-shadow .5s
}

.jbg button .loading[data-v-2df46cec] {
    display: none
}

.jbg button.connecting span[data-v-2df46cec] {
    display: none
}

.jbg button.connecting .loading[data-v-2df46cec] {
    display: block
}

.jbg button.cancel[data-v-2df46cec] {
    background-color: #333;
    box-shadow: 0 5px 0 0 #161616
}

.jbg button[data-v-2df46cec]:disabled {
    background: #e0e0e0;
    color: #505050;
    box-shadow: 0 0 0 0 #505050
}

.jbg form[data-v-2df46cec] {
    margin: 0px auto 5px;
    padding: 70px 15px 0px 15px
}

.jbg label[data-v-2df46cec] {
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;
    padding: 0 12px;
    color: #333;
    font-size: 17px
}

.jbg input[data-v-2df46cec],
.jbg textarea[data-v-2df46cec] {
    width: 100%;
    height: 34px;
    margin-bottom: 15px;
    padding: 20px 12px;
    background-color: #e0e0e0;
    border: 0px solid;
    border-radius: 12px;
    color: #000;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase
}

.jbg input[data-v-2df46cec]::placeholder,
.jbg textarea[data-v-2df46cec]::placeholder {
    color: #505050
}

.jbg input[data-v-2df46cec]:disabled,
.jbg textarea[data-v-2df46cec]:disabled {
    background: #e0e0e0;
    color: #505050;
    cursor: not-allowed;
    user-select: none
}

.jbg textarea[data-v-2df46cec] {
    height: auto;
    padding: 12px;
    font-size: 14px
}

.jbg .loading[data-v-2df46cec],
.jbg .loading[data-v-2df46cec]::before,
.jbg .loading[data-v-2df46cec]::after {
    width: 12px;
    height: 12px;
    border: 2px solid #0e167d;
    border-radius: 50%;
    background: #4254f4;
    animation-fill-mode: both;
    animation: loading-data-v-2df46cec 1.5s infinite ease-in-out
}

.jbg .loading[data-v-2df46cec] {
    position: relative;
    margin: 18px auto;
    animation-delay: -0.25s
}

.jbg .loading[data-v-2df46cec]::before,
.jbg .loading[data-v-2df46cec]::after {
    content: "";
    position: absolute;
    top: -2px
}

.jbg .loading[data-v-2df46cec]::before {
    left: -22px;
    animation-delay: -0.5s
}

.jbg .loading[data-v-2df46cec]::after {
    left: 18px
}

.jbg .disabled.loading[data-v-2df46cec],
.jbg .disabled.loading[data-v-2df46cec]::before,
.jbg .disabled.loading[data-v-2df46cec]::after {
    border: 2px solid #505050;
    background: #e0e0e0;
    animation-name: loading-disabled-data-v-2df46cec
}

@keyframes loading-data-v-2df46cec {

    0%,
    20%,
    80%,
    100% {
        background-color: #0e167d
    }

    50% {
        background-color: #4254f4
    }
}

@keyframes loading-disabled-data-v-2df46cec {

    0%,
    20%,
    80%,
    100% {
        background-color: #505050
    }

    50% {
        background-color: #e0e0e0
    }
}

.tutorial[data-v-2df46cec] {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .8);
    user-select: none
}

.container[data-v-2df46cec] {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    line-height: 0;
    transform: translate(-50%, calc(-50% - 40px))
}

@media only screen and (orientation: portrait) {
    .container[data-v-2df46cec] {
        width: calc(100% - 85px);
        max-width: 400px;
        min-width: 300px
    }

    .container .ratio-svg[data-v-2df46cec] {
        width: 100%;
        height: auto
    }
}

@media only screen and (orientation: landscape) {
    .container[data-v-2df46cec] {
        height: calc(100% - 85px);
        max-height: 600px;
        min-height: 200px
    }

    .container .ratio-svg[data-v-2df46cec] {
        width: auto;
        height: 100%
    }
}

.slide[data-v-2df46cec] {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 25px 35px 30px;
    background: #fff;
    border-radius: 15px;
    transition: opacity .25s, transform .25s
}

.slide.left[data-v-2df46cec] {
    opacity: 0;
    transform: translateX(-75px) scale(0.9)
}

.slide.right[data-v-2df46cec] {
    opacity: 0;
    transform: translateX(75px) scale(0.9)
}

.slide .text[data-v-2df46cec] {
    text-align: left;
    font-family: Helvetica, Arial, sans-serif
}

.slide .text h3[data-v-2df46cec] {
    line-height: 1.2;
    padding-bottom: 6%
}

.slide .text ul[data-v-2df46cec] {
    padding-left: 16px
}

.slide .text li[data-v-2df46cec] {
    line-height: 1.2;
    padding-bottom: 5px
}

@media only screen and (orientation: portrait) {
    .slide .text h3[data-v-2df46cec] {
        font-size: clamp(18px, 5.2vw, 24px)
    }

    .slide .text li[data-v-2df46cec] {
        font-size: clamp(14px, 4vw, 18px)
    }
}

@media only screen and (orientation: landscape) {
    .slide .text h3[data-v-2df46cec] {
        font-size: clamp(16px, 3.8vh, 24px)
    }

    .slide .text li[data-v-2df46cec] {
        font-size: clamp(13px, 3vh, 18px)
    }
}

.slide .image[data-v-2df46cec] {
    width: 100%;
    flex-grow: 1;
    background-position: center bottom;
    background-size: contain;
    background-repeat: no-repeat
}

.arrow[data-v-2df46cec] {
    position: absolute;
    width: 10%;
    transform-origin: top left
}

.arrow svg[data-v-2df46cec] {
    width: 100%;
    stroke: #4254f4;
    stroke-width: 6px;
    fill: transparent;
    stroke-linecap: round;
    stroke-linejoin: round;
    overflow: visible;
    animation: arrow-bounce-data-v-2df46cec .5s alternate infinite
}

.dots[data-v-2df46cec] {
    position: absolute;
    bottom: 12px;
    left: 0;
    width: 100%
}

.dots .dot[data-v-2df46cec] {
    width: 8px;
    height: 8px;
    margin: 0 5px;
    padding: 0;
    border: none;
    border-radius: 4px;
    background: #ccc;
    transition: background-color .25s, transform .25s
}

.dots .dot.current[data-v-2df46cec] {
    background: #4254f4;
    transform: scale(1.5)
}

.buttons[data-v-2df46cec] {
    position: absolute;
    bottom: -40px;
    width: 100%
}

.buttons button[data-v-2df46cec] {
    height: 32px;
    background: none;
    border: none;
    color: #fff
}

.buttons .skip[data-v-2df46cec] {
    float: left;
    font-size: 15px
}

.buttons .next[data-v-2df46cec],
.buttons .done[data-v-2df46cec] {
    float: right;
    padding: 0 20px;
    border-radius: 20px;
    background: #4254f4;
    font-size: 17px;
    box-shadow: 0 4px 0 0 #0e167d;
    transition: box-shadow .2s
}

.buttons .next[data-v-2df46cec]:active,
.buttons .done[data-v-2df46cec]:active {
    box-shadow: 0 0 0 0 #0e167d
}

.buttons .done[data-v-2df46cec] {
    background: #fff;
    color: #4254f4;
    animation: done-pulse-data-v-2df46cec .5s alternate infinite
}

@keyframes arrow-bounce-data-v-2df46cec {
    0% {
        transform: translateX(0)
    }

    100% {
        transform: translateX(-20%)
    }
}

@keyframes done-pulse-data-v-2df46cec {
    0% {
        background: #e0e0e0
    }

    100% {
        transform: #fff
    }
}

.svg-container[data-v-96847278] {
    cursor: pointer;
    display: inline-block;
    width: 100%;
    height: 100%;
    border: 0px solid transparent;
    background-color: transparent
}

.svg-container *[data-v-96847278] {
    pointer-events: none
}

.drawing {
    overflow-y: auto;
    position: relative
}

.drawing .prompt {
    text-align: center
}

.drawing .draw-canvas {
    background-color: #fff
}

.drawing .controls {
    margin: 0px auto -8px auto;
    text-align: center;
    overflow: hidden;
    z-index: 1
}

.drawing .controls .frame-button {
    color: #000;
    position: relative;
    font-size: 16px;
    width: 40%;
    max-width: 150px;
    margin: 6px auto 0px auto;
    border-style: solid;
    border-width: 7px;
    border-image: url("drawful-animate/drawing_controls_frame-button.svg") 6 fill;
    border-bottom: 0;
    padding: 7px 0 3px;
    -webkit-background-clip: padding;
    -moz-background-clip: padding;
    background-clip: padding-box
}

.drawing .controls .frame-button.active {
    border-image: url("drawful-animate/drawing_controls_frame-button_active.svg") 6 fill
}

.drawing .controls .frame-button.active::after {
    content: "";
    position: absolute;
    top: 100%;
    left: -2px;
    right: -2px;
    height: 10px;
    background: #fff
}

.drawing .stage {
    margin: 0px auto
}

.drawing .stage canvas.draw-canvas {
    border-width: 8px;
    border-style: solid;
    border-image: url("drawful-animate/drawing_stage_canvas_draw-canvas.svg") 6 7;
    background-clip: padding-box
}

.drawing .palette {
    text-align: center
}

.drawing .palette button {
    height: 50px;
    width: 50px;
    padding: 3px
}

.drawing .submit-button {
    font-size: 18px;
    padding: 5px 20%;
    color: #fff;
    background-color: #000;
    border-radius: 6px;
    border: 6px solid #000
}

.drawing .submit-button:active:not(:disabled) {
    color: #000;
    background-color: #fff
}

.drawing .submit-button:disabled {
    opacity: .3;
    cursor: not-allowed
}

.tutorial .image.tutorial-0 {
    background-image: url("drawful-animate/tutorial_image_tutorial-0.png")
}

.tutorial .image.tutorial-1 {
    background-image: url("drawful-animate/tutorial_image_tutorial-1.png")
}

.tutorial .image.tutorial-2 {
    background-image: url("drawful-animate/tutorial_image_tutorial-2.png")
}

.tutorial .image.tutorial-3 {
    background-image: url("drawful-animate/tutorial_image_tutorial-3.png")
}

.tutorial .image.tutorial-4 {
    background-position: center;
    background-image: url("drawful-animate/tutorial_image_tutorial-4.png")
}

.flipping[data-v-c1eff0c0] {
    background-image: url("drawful-animate/choosing.png");
    overflow-x: hidden
}

.flipping .constrain[data-v-c1eff0c0] {
    padding: 20px 0
}

.flipping .flipchart[data-v-c1eff0c0] {
    overflow: visible
}

.flipping .flipchart .row[data-v-c1eff0c0] {
    position: relative
}

.flipping .flipchart .row .carousel[data-v-c1eff0c0] {
    margin: 0 -40%;
    display: flex;
    flex-flow: row nowrap
}

.flipping .flipchart .row .carousel>div[data-v-c1eff0c0] {
    flex: 1 0 auto;
    margin: 0px 5px
}

.flipping .flipchart .row .carousel.slide-left[data-v-c1eff0c0] {
    animation: slideLeft-data-v-c1eff0c0 .5s ease-out 0s;
    animation-iteration-count: 1
}

.flipping .flipchart .row .carousel.slide-right[data-v-c1eff0c0] {
    animation: slideRight-data-v-c1eff0c0 .5s ease-out 0s;
    animation-iteration-count: 1
}

.flipping .flipchart .row .circle-button[data-v-c1eff0c0] {
    background-color: transparent;
    background-image: url("drawful-animate/flipping_flipchart_row_circle-button[data-v-c1eff0c0].svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 25px;
    border: 0px solid transparent;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 40%
}

.flipping .flipchart .row .circle-button.left[data-v-c1eff0c0] {
    right: 15%;
    transform: rotate(180deg)
}

.flipping .flipchart .row .circle-button.right[data-v-c1eff0c0] {
    left: 15%
}

.flipping .flipchart .row .circle-button.selected[data-v-c1eff0c0] {
    background-image: url("drawful-animate/flipping_flipchart_row_circle-button_selected[data-v-c1eff0c0].svg")
}

.flipping .timer[data-v-c1eff0c0] {
    margin-top: 25px;
    border-image: url("drawful-animate/flipping_timer[data-v-c1eff0c0].svg") 9 fill;
    border-width: 9px;
    border-style: solid;
    background-clip: padding-box;
    height: 42px;
    background-color: #000
}

.flipping .timer .timer-bar[data-v-c1eff0c0] {
    background-color: #ff28b7;
    display: block;
    height: 100%;
    position: relative;
    overflow: hidden
}

.flipping .owl[data-v-c1eff0c0] {
    height: 150px;
    background-color: #fff;
    background-size: contain;
    background-repeat: no-repeat;
    border: 6px solid #000
}

.flipping .owl-complete[data-v-c1eff0c0] {
    height: 300px;
    background-color: #fff;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: 6px solid #000
}

.flipping .carousel.top .owl[data-v-c1eff0c0] {
    background-position: center bottom;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-width: 0px
}

.flipping .carousel.bottom .owl[data-v-c1eff0c0] {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px
}

.flipping .OwlTop_00[data-v-c1eff0c0] {
    background-image: url("drawful-animate/flipping_OwlTop_00[data-v-c1eff0c0].png")
}

.flipping .OwlTop_01[data-v-c1eff0c0] {
    background-image: url("drawful-animate/flipping_OwlTop_01[data-v-c1eff0c0].png")
}

.flipping .OwlTop_02[data-v-c1eff0c0] {
    background-image: url("drawful-animate/flipping_OwlTop_02[data-v-c1eff0c0].png")
}

.flipping .OwlTop_03[data-v-c1eff0c0] {
    background-image: url("drawful-animate/flipping_OwlTop_03[data-v-c1eff0c0].png")
}

.flipping .OwlTop_04[data-v-c1eff0c0] {
    background-image: url("drawful-animate/flipping_OwlTop_04[data-v-c1eff0c0].png")
}

.flipping .OwlTop_05[data-v-c1eff0c0] {
    background-image: url("drawful-animate/flipping_OwlTop_05[data-v-c1eff0c0].png")
}

.flipping .OwlTop_06[data-v-c1eff0c0] {
    background-image: url("drawful-animate/flipping_OwlTop_06[data-v-c1eff0c0].png")
}

.flipping .OwlTop_07[data-v-c1eff0c0] {
    background-image: url("drawful-animate/flipping_OwlTop_07[data-v-c1eff0c0].png")
}

.flipping .OwlTop_08[data-v-c1eff0c0] {
    background-image: url("drawful-animate/flipping_OwlTop_08[data-v-c1eff0c0].png")
}

.flipping .OwlTop_09[data-v-c1eff0c0] {
    background-image: url("drawful-animate/flipping_OwlTop_09[data-v-c1eff0c0].png")
}

.flipping .OwlTop_10[data-v-c1eff0c0] {
    background-image: url("drawful-animate/flipping_OwlTop_10[data-v-c1eff0c0].png")
}

.flipping .OwlTop_11[data-v-c1eff0c0] {
    background-image: url("drawful-animate/flipping_OwlTop_11[data-v-c1eff0c0].png")
}

.flipping .OwlTop_12[data-v-c1eff0c0] {
    background-image: url("drawful-animate/flipping_OwlTop_12[data-v-c1eff0c0].png")
}

.flipping .OwlTop_13[data-v-c1eff0c0] {
    background-image: url("drawful-animate/flipping_OwlTop_13[data-v-c1eff0c0].png")
}

.flipping .OwlTop_14[data-v-c1eff0c0] {
    background-image: url("drawful-animate/flipping_OwlTop_14[data-v-c1eff0c0].png")
}

.flipping .OwlTop_15[data-v-c1eff0c0] {
    background-image: url("drawful-animate/flipping_OwlTop_15[data-v-c1eff0c0].png")
}

.flipping .OwlTop_16[data-v-c1eff0c0] {
    background-image: url("drawful-animate/flipping_OwlTop_16[data-v-c1eff0c0].png")
}

.flipping .OwlTop_17[data-v-c1eff0c0] {
    background-image: url("drawful-animate/flipping_OwlTop_17[data-v-c1eff0c0].png")
}

.flipping .OwlTop_18[data-v-c1eff0c0] {
    background-image: url("drawful-animate/flipping_OwlTop_18[data-v-c1eff0c0].png")
}

.flipping .OwlTop_19[data-v-c1eff0c0] {
    background-image: url("drawful-animate/flipping_OwlTop_19[data-v-c1eff0c0].png")
}

.flipping .OwlTop_20[data-v-c1eff0c0] {
    background-image: url("drawful-animate/flipping_OwlTop_20[data-v-c1eff0c0].png")
}

.flipping .OwlTop_21[data-v-c1eff0c0] {
    background-image: url("drawful-animate/flipping_OwlTop_21[data-v-c1eff0c0].png")
}

.flipping .OwlTop_22[data-v-c1eff0c0] {
    background-image: url("drawful-animate/flipping_OwlTop_22[data-v-c1eff0c0].png")
}

.flipping .OwlTop_23[data-v-c1eff0c0] {
    background-image: url("drawful-animate/flipping_OwlTop_23[data-v-c1eff0c0].png")
}

.flipping .OwlTop_24[data-v-c1eff0c0] {
    background-image: url("drawful-animate/flipping_OwlTop_24[data-v-c1eff0c0].png")
}

.flipping .OwlTop_25[data-v-c1eff0c0] {
    background-image: url("drawful-animate/flipping_OwlTop_25[data-v-c1eff0c0].png")
}

.flipping .OwlTop_26[data-v-c1eff0c0] {
    background-image: url("drawful-animate/flipping_OwlTop_26[data-v-c1eff0c0].png")
}

.flipping .OwlTop_27[data-v-c1eff0c0] {
    background-image: url("drawful-animate/flipping_OwlTop_27[data-v-c1eff0c0].png")
}

.flipping .OwlTop_28[data-v-c1eff0c0] {
    background-image: url("drawful-animate/flipping_OwlTop_28[data-v-c1eff0c0].png")
}

.flipping .OwlTop_29[data-v-c1eff0c0] {
    background-image: url("drawful-animate/flipping_OwlTop_29[data-v-c1eff0c0].png")
}

.flipping .OwlTop_30[data-v-c1eff0c0] {
    background-image: url("drawful-animate/flipping_OwlTop_30[data-v-c1eff0c0].png")
}

.flipping .OwlTop_31[data-v-c1eff0c0] {
    background-image: url("drawful-animate/flipping_OwlTop_31[data-v-c1eff0c0].png")
}

.flipping .OwlBttm_00[data-v-c1eff0c0] {
    background-image: url("drawful-animate/flipping_OwlBttm_00[data-v-c1eff0c0].png")
}

.flipping .OwlBttm_01[data-v-c1eff0c0] {
    background-image: url("drawful-animate/flipping_OwlBttm_01[data-v-c1eff0c0].png")
}

.flipping .OwlBttm_02[data-v-c1eff0c0] {
    background-image: url("drawful-animate/flipping_OwlBttm_02[data-v-c1eff0c0].png")
}

.flipping .OwlBttm_03[data-v-c1eff0c0] {
    background-image: url("drawful-animate/flipping_OwlBttm_03[data-v-c1eff0c0].png")
}

.flipping .OwlBttm_04[data-v-c1eff0c0] {
    background-image: url("drawful-animate/flipping_OwlBttm_04[data-v-c1eff0c0].png")
}

.flipping .OwlBttm_05[data-v-c1eff0c0] {
    background-image: url("drawful-animate/flipping_OwlBttm_05[data-v-c1eff0c0].png")
}

.flipping .OwlBttm_06[data-v-c1eff0c0] {
    background-image: url("drawful-animate/flipping_OwlBttm_06[data-v-c1eff0c0].png")
}

.flipping .OwlBttm_07[data-v-c1eff0c0] {
    background-image: url("drawful-animate/flipping_OwlBttm_07[data-v-c1eff0c0].png")
}

.flipping .OwlBttm_08[data-v-c1eff0c0] {
    background-image: url("drawful-animate/flipping_OwlBttm_08[data-v-c1eff0c0].png")
}

.flipping .OwlBttm_09[data-v-c1eff0c0] {
    background-image: url("drawful-animate/flipping_OwlBttm_09[data-v-c1eff0c0].png")
}

.flipping .OwlBttm_10[data-v-c1eff0c0] {
    background-image: url("drawful-animate/flipping_OwlBttm_10[data-v-c1eff0c0].png")
}

.flipping .OwlBttm_11[data-v-c1eff0c0] {
    background-image: url("drawful-animate/flipping_OwlBttm_11[data-v-c1eff0c0].png")
}

.flipping .OwlBttm_12[data-v-c1eff0c0] {
    background-image: url("drawful-animate/flipping_OwlBttm_12[data-v-c1eff0c0].png")
}

.flipping .OwlBttm_13[data-v-c1eff0c0] {
    background-image: url("drawful-animate/flipping_OwlBttm_13[data-v-c1eff0c0].png")
}

.flipping .OwlBttm_14[data-v-c1eff0c0] {
    background-image: url("drawful-animate/flipping_OwlBttm_14[data-v-c1eff0c0].png")
}

.flipping .OwlBttm_15[data-v-c1eff0c0] {
    background-image: url("drawful-animate/flipping_OwlBttm_15[data-v-c1eff0c0].png")
}

.flipping .OwlBttm_16[data-v-c1eff0c0] {
    background-image: url("drawful-animate/flipping_OwlBttm_16[data-v-c1eff0c0].png")
}

.flipping .OwlBttm_17[data-v-c1eff0c0] {
    background-image: url("drawful-animate/flipping_OwlBttm_17[data-v-c1eff0c0].png")
}

.flipping .OwlBttm_18[data-v-c1eff0c0] {
    background-image: url("drawful-animate/flipping_OwlBttm_18[data-v-c1eff0c0].png")
}

.flipping .OwlBttm_19[data-v-c1eff0c0] {
    background-image: url("drawful-animate/flipping_OwlBttm_19[data-v-c1eff0c0].png")
}

.flipping .OwlBttm_20[data-v-c1eff0c0] {
    background-image: url("drawful-animate/flipping_OwlBttm_20[data-v-c1eff0c0].png")
}

.flipping .OwlBttm_21[data-v-c1eff0c0] {
    background-image: url("drawful-animate/flipping_OwlBttm_21[data-v-c1eff0c0].png")
}

.flipping .OwlBttm_22[data-v-c1eff0c0] {
    background-image: url("drawful-animate/flipping_OwlBttm_22[data-v-c1eff0c0].png")
}

.flipping .OwlBttm_23[data-v-c1eff0c0] {
    background-image: url("drawful-animate/flipping_OwlBttm_23[data-v-c1eff0c0].png")
}

.flipping .OwlBttm_24[data-v-c1eff0c0] {
    background-image: url("drawful-animate/flipping_OwlBttm_24[data-v-c1eff0c0].png")
}

.flipping .OwlBttm_25[data-v-c1eff0c0] {
    background-image: url("drawful-animate/flipping_OwlBttm_25[data-v-c1eff0c0].png")
}

.flipping .OwlBttm_26[data-v-c1eff0c0] {
    background-image: url("drawful-animate/flipping_OwlBttm_26[data-v-c1eff0c0].png")
}

.flipping .OwlBttm_27[data-v-c1eff0c0] {
    background-image: url("drawful-animate/flipping_OwlBttm_27[data-v-c1eff0c0].png")
}

.flipping .OwlBttm_28[data-v-c1eff0c0] {
    background-image: url("drawful-animate/flipping_OwlBttm_28[data-v-c1eff0c0].png")
}

.flipping .OwlBttm_29[data-v-c1eff0c0] {
    background-image: url("drawful-animate/flipping_OwlBttm_29[data-v-c1eff0c0].png")
}

.flipping .OwlBttm_30[data-v-c1eff0c0] {
    background-image: url("drawful-animate/flipping_OwlBttm_30[data-v-c1eff0c0].png")
}

.flipping .OwlBttm_31[data-v-c1eff0c0] {
    background-image: url("drawful-animate/flipping_OwlBttm_31[data-v-c1eff0c0].png")
}

.flipping .OwlComplete_00[data-v-c1eff0c0] {
    background-image: url("drawful-animate/flipping_OwlComplete_00[data-v-c1eff0c0].png")
}

.flipping .OwlComplete_01[data-v-c1eff0c0] {
    background-image: url("drawful-animate/flipping_OwlComplete_01[data-v-c1eff0c0].png")
}

.flipping .OwlComplete_02[data-v-c1eff0c0] {
    background-image: url("drawful-animate/flipping_OwlComplete_02[data-v-c1eff0c0].png")
}

.flipping .OwlComplete_03[data-v-c1eff0c0] {
    background-image: url("drawful-animate/flipping_OwlComplete_03[data-v-c1eff0c0].png")
}

.flipping .OwlComplete_04[data-v-c1eff0c0] {
    background-image: url("drawful-animate/flipping_OwlComplete_04[data-v-c1eff0c0].png")
}

.flipping .OwlComplete_05[data-v-c1eff0c0] {
    background-image: url("drawful-animate/flipping_OwlComplete_05[data-v-c1eff0c0].png")
}

.flipping .OwlComplete_06[data-v-c1eff0c0] {
    background-image: url("drawful-animate/flipping_OwlComplete_06[data-v-c1eff0c0].png")
}

.flipping .OwlComplete_07[data-v-c1eff0c0] {
    background-image: url("drawful-animate/flipping_OwlComplete_07[data-v-c1eff0c0].png")
}

.flipping .OwlComplete_08[data-v-c1eff0c0] {
    background-image: url("drawful-animate/flipping_OwlComplete_08[data-v-c1eff0c0].png")
}

.flipping .OwlComplete_09[data-v-c1eff0c0] {
    background-image: url("drawful-animate/flipping_OwlComplete_09[data-v-c1eff0c0].png")
}

.flipping .OwlComplete_10[data-v-c1eff0c0] {
    background-image: url("drawful-animate/flipping_OwlComplete_10[data-v-c1eff0c0].png")
}

.flipping .OwlComplete_11[data-v-c1eff0c0] {
    background-image: url("drawful-animate/flipping_OwlComplete_11[data-v-c1eff0c0].png")
}

.flipping .OwlComplete_12[data-v-c1eff0c0] {
    background-image: url("drawful-animate/flipping_OwlComplete_12[data-v-c1eff0c0].png")
}

.flipping .OwlComplete_13[data-v-c1eff0c0] {
    background-image: url("drawful-animate/flipping_OwlComplete_13[data-v-c1eff0c0].png")
}

.flipping .OwlComplete_14[data-v-c1eff0c0] {
    background-image: url("drawful-animate/flipping_OwlComplete_14[data-v-c1eff0c0].png")
}

.flipping .OwlComplete_15[data-v-c1eff0c0] {
    background-image: url("drawful-animate/flipping_OwlComplete_15[data-v-c1eff0c0].png")
}

.flipping .OwlComplete_16[data-v-c1eff0c0] {
    background-image: url("drawful-animate/flipping_OwlComplete_16[data-v-c1eff0c0].png")
}

.flipping .OwlComplete_17[data-v-c1eff0c0] {
    background-image: url("drawful-animate/flipping_OwlComplete_17[data-v-c1eff0c0].png")
}

.flipping .OwlComplete_18[data-v-c1eff0c0] {
    background-image: url("drawful-animate/flipping_OwlComplete_18[data-v-c1eff0c0].png")
}

.flipping .OwlComplete_19[data-v-c1eff0c0] {
    background-image: url("drawful-animate/flipping_OwlComplete_19[data-v-c1eff0c0].png")
}

.flipping .OwlComplete_20[data-v-c1eff0c0] {
    background-image: url("drawful-animate/flipping_OwlComplete_20[data-v-c1eff0c0].png")
}

.flipping .OwlComplete_21[data-v-c1eff0c0] {
    background-image: url("drawful-animate/flipping_OwlComplete_21[data-v-c1eff0c0].png")
}

.flipping .OwlComplete_22[data-v-c1eff0c0] {
    background-image: url("drawful-animate/flipping_OwlComplete_22[data-v-c1eff0c0].png")
}

.flipping .OwlComplete_23[data-v-c1eff0c0] {
    background-image: url("drawful-animate/flipping_OwlComplete_23[data-v-c1eff0c0].png")
}

.flipping .OwlComplete_24[data-v-c1eff0c0] {
    background-image: url("drawful-animate/flipping_OwlComplete_24[data-v-c1eff0c0].png")
}

.flipping .OwlComplete_25[data-v-c1eff0c0] {
    background-image: url("drawful-animate/flipping_OwlComplete_25[data-v-c1eff0c0].png")
}

.flipping .OwlComplete_26[data-v-c1eff0c0] {
    background-image: url("drawful-animate/flipping_OwlComplete_26[data-v-c1eff0c0].png")
}

.flipping .OwlComplete_27[data-v-c1eff0c0] {
    background-image: url("drawful-animate/flipping_OwlComplete_27[data-v-c1eff0c0].png")
}

.flipping .OwlComplete_28[data-v-c1eff0c0] {
    background-image: url("drawful-animate/flipping_OwlComplete_28[data-v-c1eff0c0].png")
}

.flipping .OwlComplete_29[data-v-c1eff0c0] {
    background-image: url("drawful-animate/flipping_OwlComplete_29[data-v-c1eff0c0].png")
}

.flipping .OwlComplete_30[data-v-c1eff0c0] {
    background-image: url("drawful-animate/flipping_OwlComplete_30[data-v-c1eff0c0].png")
}

.flipping .OwlComplete_31[data-v-c1eff0c0] {
    background-image: url("drawful-animate/flipping_OwlComplete_31[data-v-c1eff0c0].png")
}

@keyframes slideLeft-data-v-c1eff0c0 {
    from {
        transform: translateX(33%)
    }

    to {
        transform: translateX(0%)
    }
}

@keyframes slideRight-data-v-c1eff0c0 {
    from {
        transform: translateX(-33%)
    }

    to {
        transform: translateX(0%)
    }
}

.episodes.content {
    border-radius: 0px;
    border-width: 8px;
    border-style: solid;
    border-image: url("drawful-animate/drawing_stage_canvas_draw-canvas.svg") 6 7 fill;
    background-clip: padding-box;
    background-color: transparent;
    text-align: center;
    user-select: none;
    font-family: "typewriter_serialbold", serif;
    max-height: 90%;
    overflow-y: auto
}

.episodes.content * {
    font-size: 24px;
    font-family: "typewriter_serialbold", serif
}

.episodes.content input,
.episodes.content input::-webkit-input-placeholder {
    font-size: 24px
}

.episodes.content .inputEpisode {
    text-align: right
}

.episodes.content .episode {
    display: block;
    width: 100%;
    margin-bottom: 10px
}

.episodes.content .episode .episodeId {
    display: block;
    color: #ff28b7
}

.episodes.content .episodes-warning {
    font-size: 11px;
    color: #ff28b7;
    margin: 6px auto
}

.episodes.content .backButton,
.episodes.content .submit {
    width: auto;
    padding: 3px 15px;
    border-width: 10px
}

.episodes.content .submit {
    margin-right: 10px
}

.lobby.isFriendMode {
    background-image: url("drawful-animate/lobby_isFriendMode.png")
}

.artifact-link {
    display: inline-block;
    width: 100%
}

.artifact-link.no-content {
    padding-bottom: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat
}

.post-game {
    background-image: url("drawful-animate/choosing.png");
    text-align: center
}

.artifact-link {
    background-image: url("drawful-animate/artifact-link.png")
}

.ugc {
    background-image: url("drawful-animate/choosing.png")
}

.ugc .action-button {
    border: 14px solid #000;
    background-color: #000;
    color: #fff;
    border-image: url("drawful-animate/choosing_choices_choice.svg") 7 fill;
    border-image-repeat: inherit;
    cursor: pointer;
    margin: 3px 0;
    width: 100%;
    min-height: 48px;
    font-size: 18px;
    background-clip: padding-box
}

.ugc .action-button:disabled {
    cursor: not-allowed
}

.ugc .action-button:active:not(:disabled),
.ugc .action-button.chosen {
    border-image: url("drawful-animate/choosing_choices_choice_active_not(_disabled).svg") 7 fill;
    background-color: #fff;
    color: #000
}

.ugc .action-button .drawing {
    width: 20%;
    height: auto
}

.ugc .action-button .text {
    display: block;
    position: relative
}

.ugc .action-button.other {
    background-color: #e2dc6b;
    color: #000
}

.ugc button.player-prompt {
    min-height: 48px;
    font-size: 18px;
    background-color: transparent;
    border: 0px solid transparent;
    border-radius: 7px;
    color: #000;
    padding-left: 44px;
    position: relative;
    width: 100%;
    text-align: left
}

.ugc button.player-prompt::after {
    content: "";
    height: 30px;
    width: 30px;
    background: url("drawful-animate/ugc_button_player-prompt_after.png") no-repeat center/80% #000;
    border-radius: 15px;
    left: 7px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%)
}

.ugc button.player-prompt:hover {
    background-color: rgba(0, 0, 0, .2)
}

.ugc button.player-prompt.other span {
    opacity: .5
}

.ugc button.ugc-toggle-visibility-button {
    border: 0px solid transparent;
    width: 128px;
    height: 128px;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% auto;
    vertical-align: middle;
    background-color: #000;
    border: 3px solid #000;
    border-radius: 6px;
    background-clip: padding-box
}

.ugc button.ugc-toggle-visibility-button.on {
    border: 3px solid transparent;
    background-color: transparent;
    background-position: top
}

.ugc button.ugc-toggle-visibility-button.ugc-toggle-visibility-button-controller {
    background-image: url("drawful-animate/ugc_button_ugc-toggle-visibility-button_ugc-toggle-visibility-button-controller.png")
}

.ugc button.ugc-toggle-visibility-button.ugc-toggle-visibility-button-screen {
    background-image: url("drawful-animate/ugc_button_ugc-toggle-visibility-button_ugc-toggle-visibility-button-screen.png")
}

.ugc button.ugc-toggle-visibility-button:active,
.ugc button.ugc-toggle-visibility-button:focus {
    border: 0px solid transparent;
    outline: none
}

.ugc button.button_back_to_menu,
.ugc button.button_back_to_episodes {
    width: auto;
    margin: 20px auto 0px auto;
    padding: 0px 10px
}

.ugc button.button_edit,
.ugc button.button_publish,
.ugc button.button_play,
.ugc button.button_delete {
    width: auto;
    min-width: 50%;
    margin: 5px auto;
    padding: 0px 10px
}

.ugc .promptInput,
.ugc .titleInput {
    text-align: right
}

.ugc .promptInput button.createButton,
.ugc .titleInput button.createButton {
    width: auto
}

.ugc .episodesList .episodeId {
    display: block
}

.ugc textarea {
    background-clip: padding-box;
    border-image: url("drawful-animate/ugc_textarea.svg") 7 7 fill;
    border-style: solid;
    border-width: 7px;
    font-size: 18px;
    margin-bottom: 10px;
    padding: 10px;
    resize: none;
    text-transform: lowercase;
    width: 100%
}

.waiting {
    height: 100%
}

.waiting .message {
    text-align: center
}

.waiting .stacked {
    display: flex;
    flex-flow: column nowrap;
    height: 100%
}

.waiting .stacked>div {
    flex: 0 0 auto
}

.waiting .stacked>.logo {
    flex: 1 0 auto;
    background-image: url("drawful-animate/waiting_stacked__logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain
}

.waiting.isFriendMode {
    background-image: url("drawful-animate/lobby_isFriendMode.png")
}

.waiting.isFriendMode .logo {
    background-image: url("drawful-animate/waiting_isFriendMode_logo.png")
}

.writing {
    background-image: url("drawful-animate/choosing.png");
    text-align: center
}

.writing .friend-hint {
    margin-bottom: 5px;
    font-size: 14px;
    opacity: .5
}

.writing .error {
    margin-bottom: 5px;
    font-size: 18px;
    color: #cb0020
}

.writing .controls .remaining {
    margin-left: 16px;
    float: left
}

.writing .controls button.submit {
    float: right;
    margin-right: 16px;
    font-size: 18px;
    color: #fff;
    background-clip: padding-box;
    background-color: #000;
    border-width: 7px;
    border-style: solid;
    border-image: url("drawful-animate/choosing_choices_choice.svg") 3 fill
}

.writing .controls button.submit:active:not(:disabled) {
    color: #000;
    background-color: #fff;
    border-image: url("drawful-animate/choosing_choices_choice_active_not(_disabled).svg") 3 fill
}

.writing .controls button.submit:disabled {
    opacity: .3
}

.drawful-animate[data-v-31bec97a] {
    --theme-primary: #000;
    --theme-secondary: #FFF;
    --theme-highlight: #333;
    --theme-background: #FFF;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.drawful-animate.game[data-v-31bec97a] {
    width: 100%;
    height: 100%;
    overflow: hidden;
    min-height: 100%
}

.drawful-animate.game>div[data-v-31bec97a],
.drawful-animate.game>div>div[data-v-31bec97a] {
    height: 100%
}

.drawful-animate.game>div[data-v-31bec97a] {
    min-height: 100%
}

.drawful-animate .allow-select[data-v-31bec97a] {
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text
}

@font-face {
    font-family: "typewriter_serialbold";
    src: url("drawful-animate/38a77887a94fd5f6216e.woff2") format("woff2"), url("drawful-animate/92d63f8bf9c02ead14d7.woff") format("woff")
}

.drawful-animate {
    background-image: url("drawful-animate/drawful-animate.png");
    font-size: 24px;
    text-align: center;
    user-select: none;
    font-family: "typewriter_serialbold", serif
}

.drawful-animate * {
    font-family: "typewriter_serialbold", serif
}

.drawful-animate,
.drawful-animate * {
    touch-action: manipulation
}

.drawful-animate .header {
    width: 100%;
    text-align: center;
    background-color: #611785;
    border-bottom-width: 6px;
    border-style: solid;
    border-image: url("drawful-animate/choosing_doubling-down_prompt_before.svg") 5;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    padding: 7px 0px 4px;
    text-transform: lowercase;
    -webkit-background-clip: padding;
    -moz-background-clip: padding;
    background-clip: padding-box
}

.drawful-animate .prompt {
    padding: 0 12px 12px;
    text-align: center;
    font-size: 18px;
    word-break: break-word
}

.drawful-animate input,
.drawful-animate textarea {
    background-clip: padding-box;
    border-image: url("drawful-animate/ugc_textarea.svg") 7 7 fill;
    border-style: solid;
    border-width: 7px;
    display: block;
    font-size: 18px;
    overflow: hidden;
    padding: 10px;
    resize: none;
    text-align: top;
    width: 100%
}

.drawful-animate button {
    cursor: pointer;
    word-break: break-word
}

.drawful-animate button:disabled {
    cursor: not-allowed
}

.drawful-animate .buttonBlack {
    border: 7px solid #000;
    border-image: url("drawful-animate/choosing_choices_choice.svg") 7 7 fill;
    border-image-repeat: inherit;
    cursor: pointer;
    margin: 3px 0;
    width: 100%;
    min-height: 48px;
    font-size: 18px;
    text-transform: lowercase;
    background-clip: padding-box;
    background-color: #000;
    color: #fff
}

.drawful-animate .buttonBlack:disabled {
    cursor: not-allowed
}

.drawful-animate .buttonBlack:active:not(:disabled),
.drawful-animate .buttonBlack.chosen {
    border-image: url("drawful-animate/choosing_choices_choice_active_not(_disabled).svg") 7 7 fill;
    background-color: #fff;
    color: #000
}

.drawful-animate .constrain {
    padding: 20px 15px;
    min-height: auto
}

.drawful-animate .scrollable {
    overflow-y: auto
}

body::after {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: -1;
    content: url("drawful-animate/choosing_choices_choice.svg") url("drawful-animate/choosing_choices_choice_active_not(_disabled).svg") url("drawful-animate/flipping_flipchart_row_circle-button[data-v-c1eff0c0].svg") url("drawful-animate/flipping_flipchart_row_circle-button_selected[data-v-c1eff0c0].svg") url("drawful-animate/body_after.svg") url("drawful-animate/choosing_doubling-down_doubleDown_button.png") url("drawful-animate/choosing_doubling-down_choices_choice.png") url("drawful-animate/choosing_doubling-down_doubleDown_button_active.png") url("drawful-animate/choosing_doubling-down_choices_choice_selected.png") url("drawful-animate/body_after_2.svg") url("drawful-animate/body_after_3.svg") url("drawful-animate/body_after_4.svg") url("drawful-animate/ugc_button_ugc-toggle-visibility-button_ugc-toggle-visibility-button-controller.png") url("drawful-animate/body_after_5.svg") url("drawful-animate/body_after_6.svg") url("drawful-animate/drawing_stage_canvas_draw-canvas.svg") url("drawful-animate/choosing.png") url("drawful-animate/waiting_isFriendMode_logo.png") url("drawful-animate/artifact-link.png") url("drawful-animate/choosing_doubling-down_prompt_before.svg") url("drawful-animate/body_after_7.svg") url("drawful-animate/lobby_isFriendMode.png") url("drawful-animate/drawful-animate.png") url("drawful-animate/waiting_stacked__logo.png") url("drawful-animate/body_after_8.svg") url("drawful-animate/body_after_9.svg") url("drawful-animate/body_after_10.svg") url("drawful-animate/ugc_button_ugc-toggle-visibility-button_ugc-toggle-visibility-button-screen.png") url("drawful-animate/choosing_track-image-container_after.svg") url("drawful-animate/body_after_11.svg") url("drawful-animate/body_after_12.svg") url("drawful-animate/drawing_controls_frame-button_active.svg") url("drawful-animate/body_after_13.svg") url("drawful-animate/drawing_controls_frame-button.svg") url("drawful-animate/ugc_textarea.svg") url("drawful-animate/body_after_14.svg") url("drawful-animate/flipping_timer[data-v-c1eff0c0].svg") url("drawful-animate/tutorial_image_tutorial-0.png") url("drawful-animate/tutorial_image_tutorial-1.png") url("drawful-animate/tutorial_image_tutorial-2.png") url("drawful-animate/tutorial_image_tutorial-3.png") url("drawful-animate/tutorial_image_tutorial-4.png")
}

/*# sourceMappingURL=sourcemaps/7634.css.map*/