@import url(//fonts.googleapis.com/css?family=Raleway:800);

.post-banner {
    position: fixed;
    bottom: -40px;
    width: 100%;
    height: 40px;
    padding: 4px 5px 0 45px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 14px;
    opacity: 0;
    transition: transform .4s cubic-bezier(0.3, 1.5, 0.75, 1.5), opacity 0s .3s
}

.post-banner.show {
    opacity: 1;
    transform: translateY(-30px);
    transition: transform .4s cubic-bezier(0.3, 1.5, 0.75, 1.5), opacity 0s 0s
}

.post-banner .banner-image {
    position: absolute;
    top: -20px;
    left: 5px;
    width: 45px;
    height: 45px;
    background-size: contain;
    background-repeat: no-repeat
}

.post-banner .banner-text {
    display: inline-block;
    color: #fff
}

.post-banner .banner-cta {
    display: inline-block;
    padding: 3px 7px;
    margin-left: 3px;
    color: #000;
    background-color: #fff;
    border-radius: 15px;
    line-height: 1;
    text-transform: uppercase;
    box-shadow: 0 3px 0 rgba(0, 0, 0, .3)
}

@media(max-width: 350px) {
    .post-banner {
        font-size: 12px;
        padding: 4px 5px 0 35px
    }

    .post-banner .banner-image {
        top: -10px;
        width: 35px;
        height: 35px
    }

    .post-banner .banner-cta {
        padding: 3px 6px
    }
}

.post-banner.no-theme {
    padding: 4px 5px 0 4px;
    background: #000;
    border-top: 2px solid #fff
}

.post-banner.no-theme .banner-image {
    display: none
}

.post-banner.no-theme .banner-text {
    display: inline-block
}

.post-banner.no-theme .banner-cta {
    display: inline-block;
    text-transform: uppercase
}

.post-banner.tjpp7 {
    background: #0086ca;
    border-top: 2px solid #000
}

.post-banner.tjpp7 .banner-image {
    background-image: url("fibbage3/post-banner_tjpp7_banner-image.png")
}

.post-banner.tjpp7 .banner-text {
    color: #fff
}

.post-banner.tjpp7 .banner-cta {
    color: #fff;
    background-color: #ff000a
}

.post-banner.tjpp6 {
    background: #ff85e2;
    border-top: 2px solid #fff
}

.post-banner.tjpp6 .banner-image {
    background-image: url("fibbage3/post-banner_tjpp6_banner-image.png")
}

.post-banner.tjpp6 .banner-cta {
    color: #fff;
    background: #00c9b9
}

@font-face {
    font-family: "Rubik";
    src: url("fibbage3/a4bece5c270c316c1c24.ttf");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: "Rubik";
    src: url("fibbage3/2263cf4bbb29e585de1b.ttf");
    font-weight: 500;
    font-style: normal
}

html {
    height: 100%;
    overflow: hidden;
    position: fixed
}

body {
    color: #000;
    height: 100%;
    overflow: hidden;
    position: fixed
}

.page {
    overflow-y: auto
}

img {
    margin: 0px auto
}

canvas {
    border: 1px solid #000
}

.controller-page {
    overflow: hidden;
    -webkit-overflow-scrolling: touch
}

.scrollable {
    overflow-y: auto
}

.textDescriptions {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden
}

.visuallyhidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0
}

.loadingSpinner {
    text-align: center;
    margin: 50px 0px
}

.playerName {
    display: inline-block;
    text-transform: uppercase
}

.playerIcon {
    display: inline-block;
    vertical-align: middle;
    width: 35px;
    height: 35px;
    background-size: contain
}

.playerIcon.none {
    display: none
}

.twitchBroadcasterIcon {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 13px;
    bottom: 10px;
    background-image: url("fibbage3/twitchBroadcasterIcon.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center
}

.controller-container {
    display: flex;
    overflow-y: hidden
}

#controller-container {
    display: flex;
    flex-direction: column
}

#controller-container>div:last-child {
    flex-grow: 1
}

#controller-main {
    flex: 1 0 auto
}

.Logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch
}

.Logo>div {
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    text-align: center
}

div.logo-image {
    margin: 0px auto;
    width: 100%;
    max-width: 600px;
    -webkit-box-flex: 3;
    -ms-flex-positive: 3;
    flex-grow: 3
}

.lobbyTitle {
    text-align: center
}

.artifactContainer {
    text-align: center
}

.artifactButton {
    background-image: url("fibbage3/artifactButton.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 283px;
    width: 90%;
    max-width: 512px;
    display: inline-block
}

@media only screen and (max-width: 480px) {
    .artifactButton {
        height: 192px
    }
}

@media only screen and (max-width: 360px) {
    .artifactButton {
        height: 128px
    }
}

.controller-content {
    max-width: 768px;
    margin: 0px auto
}

.controller-content>div {
    display: inline-block;
    width: 100%
}

.EnterSingleText,
.MakeSingleChoice,
.Draw,
.Lobby,
.Sortable,
.UGC {
    display: inline-block;
    width: 100%
}

.Lobby .charactersList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: left;
    max-width: 512px;
    padding: .5rem;
    margin: 0px auto
}

.Lobby .charactersList button.characters {
    flex: 0 0 25%;
    display: flex;
    padding: 0px;
    justify-content: center;
    align-items: stretch;
    box-sizing: border-box
}

.Lobby .charactersList button.characters.disabled {
    cursor: not-allowed
}

.Lobby .charactersList button.characters.selected {
    cursor: default
}

.Lobby .charactersList button.characters:before {
    content: "";
    display: table;
    padding-top: 100%
}

.Lobby .charactersList button.characters .flex-item {
    width: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center
}

.choices {
    text-align: center
}

.button-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.choices .button-group button.choice-button * {
    pointer-events: none
}

textarea.form-control {
    resize: none;
    overflow: hidden;
    height: 36px;
    line-height: 24px;
    outline: none
}

textarea:focus {
    outline: none
}

.button-group * {
    border-radius: 0px;
    margin: 0px;
    max-width: 100%;
    min-width: 50px;
    overflow-wrap: break-word;
    outline: none;
    overflow: hidden;
    -webkit-user-select: none;
    user-select: none;
    white-space: normal;
    word-break: break-word;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none
}

.button-group button:not(:only-child):not(:last-child) {
    border-right-width: 0px
}

.button-group button:not(:only-child):not(:first-child) {
    border-left-width: 0px
}

.button-group :first-child {
    -webkit-box-flex: 2;
    -ms-flex-positive: 2;
    flex-grow: 2
}

.censor-button {
    width: auto;
    max-width: 15px;
    padding: 0px;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 35px;
    flex: 0 1 35px
}

.double-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.double-nav-middle {
    flex: 1 0 auto;
    position: relative;
    overflow-x: hidden
}

.double-nav-top,
.double-nav-bottom {
    flex: 0 1 auto;
    width: 100%;
    z-index: 1030;
    text-align: center
}

.double-nav-detail {
    top: 0px;
    min-height: 100%;
    display: absolute
}

.double-nav-bottom {
    margin-top: auto
}

.canvasContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.Draw .nav-tabs {
    border-width: 0px
}

li>a.button-color.active {
    border: 3px solid
}

li>a.button-color.active[data-color="#000000"] {
    border-color: #f32938
}

.Draw canvas.fullLayer {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center
}

.Draw .button {
    height: 33px;
    min-width: 40px;
    margin: 2px;
    padding: 5px
}

.Draw .submitDrawing {
    height: auto
}

.Draw .currentColor {
    width: 100%;
    height: 100%;
    background-color: #000;
    margin: 0px auto
}

.Draw .thickness-circle {
    border-radius: 50%;
    background-color: #000;
    width: 5px;
    height: 5px;
    margin: 0px auto
}

.Draw .colorSwatch {
    border-radius: 8px;
    width: 62px;
    height: 62px;
    margin: 3px;
    display: inline-block
}

.Draw .list .colorSwatch {
    display: inline-block
}

.Draw .list .colorSwatch a {
    padding: 0px;
    width: 48px;
    height: 48px
}

.Draw .colorPaletteRegion {
    position: absolute;
    top: 0px;
    right: 0px;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0)
}

.Draw .colorPaletteRegion.visible {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1)
}

.Draw .colorPaletteRegion .colorPalette {
    border: 8px solid #000;
    background-color: #fff;
    border-radius: 18px;
    width: 230px;
    padding: 2px
}

.Draw .picker {
    position: relative
}

.Draw .list .colorPalette {
    margin-bottom: -19px;
    margin-right: 20px
}

.Draw .colorPaletteRegion .colorSwatch a {
    padding: 0px;
    width: 62px;
    height: 62px
}

.Draw .canvasContainer {
    display: inline-block
}

.Shoot {
    height: 100%
}

.Shoot .health {
    text-align: right
}

.Shoot .shoot-container {
    max-width: 480px
}

.Shoot button.selected {
    background: #000;
    color: #fff
}

.Shoot div {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.Shoot button {
    width: 100px;
    height: 50px
}

.Shoot .RadialView {
    height: 100%
}

.Shoot .radial {
    margin: 0px auto;
    cursor: pointer
}

.Shoot .background {
    stroke: #1797c5;
    stroke-width: 32;
    stroke-opacity: .8
}

.Shoot .health-display {
    fill-opacity: 0;
    stroke: #f0f;
    stroke-width: 2
}

.Shoot .crosshair-center {
    stroke: #fff;
    stroke-width: .8;
    stroke-dasharray: .3 1.265;
    fill-opacity: 0
}

.Shoot .circle-helper {
    stroke: #00cfe6;
    stroke-width: 3;
    fill-opacity: 0
}

.Shoot .line-helper-left,
.Shoot .line-helper-right {
    stroke: #fff;
    stroke-width: .3
}

.Shoot .locked-in-line {
    stroke: #fff;
    stroke-width: .3;
    stroke-dasharray: 1.265 .5
}

.Shoot .left-text,
.Shoot .right-text {
    color: #fff
}

.Shoot .locked-in-fade {
    stroke: #000;
    stroke-width: 34;
    stroke-opacity: .8;
    fill-opacity: 0
}

.Shoot .cls-1 {
    stroke: #fff;
    stroke-miterlimit: 10;
    stroke-width: 17px
}

.Shoot .lockedIn .cls-1 {
    stroke: #575757
}

.Camera {
    position: relative
}

.Camera .cameraRegion canvas.cameraCanvas {
    background-color: #000;
    top: 0px;
    left: 0px;
    border: none
}

.Camera .cameraRegion .cameraVideo {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px
}

.Camera .cameraRegion .cameraImage {
    width: 100%;
    max-width: 100%
}

.Camera .cameraRegion .cameraImageDiv {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-color: #000;
    background-position: center;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0
}

.Camera .cameraRegion .cameraControls {
    position: absolute;
    bottom: 15px;
    width: 100%;
    height: 60px;
    text-align: center
}

.Camera .cameraRegion .buttons {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden
}

.Camera .cameraRegion .buttons.visible {
    visibility: visible
}

.Camera .cameraRegion .button {
    background-color: #fff;
    color: #000
}

.jbgTwitchContainer {
    padding: 0
}

.jbgTwitchPopup {
    background-color: #fcfcfc;
    border-radius: 0px;
    width: 495px;
    position: inherit;
    box-shadow: 0px 0px 13px rgba(0, 0, 0, .23)
}

.jbgTwitchPopup.jbgTwitchShow {
    animation-name: slideUp;
    animation-duration: .6s
}

.jbgTwitchPopup.jbgTwitchHide {
    animation-name: slideDown;
    animation-duration: .6s
}

.jbgTwitchContent {
    font-family: "Rubik", sans-serif;
    color: #0c0c0c;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    text-align: left
}

.jbgTwitchContent .icon-twitch {
    height: 50px;
    line-height: 50px;
    margin: 30px 0px 17px 0px;
    color: #9146ff;
    padding-left: 50px;
    background: url("fibbage3/twitchBroadcasterIcon.svg") no-repeat center left/40px
}

.jbgTwitchContent .success {
    padding-bottom: 20px
}

.jbgTwitchContent .warning {
    border-top: 1px solid #cdcdcd;
    padding: 20px 0px;
    line-height: normal;
    color: #0c0c0c;
    padding-left: 50px;
    background: url("fibbage3/jbgTwitchContent_warning.png") no-repeat center left/40px
}

.jbgCloseButton {
    top: 16px;
    right: 13px
}

.debug {
    position: fixed;
    left: 0;
    top: 55px;
    opacity: .1;
    z-index: 1031;
    user-select: none;
    text-shadow: -1px -1px 0 #ddd, 1px -1px 0 #ddd, -1px 1px 0 #ddd, 1px 1px 0 #ddd
}

.debug:hover {
    opacity: 1
}

.debug button {
    width: 50px !important;
    height: 40px !important;
    margin: 0 !important;
    padding: 0 !important;
    background: transparent !important;
    border: 1px solid #333 !important;
    outline: 1px solid #ddd !important;
    color: #333 !important;
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 30px !important;
    font-weight: 700 !important;
    box-shadow: none !important
}

.debug span {
    position: relative;
    top: -4px;
    color: #333 !important;
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 14px !important;
    font-weight: 700 !important
}

@keyframes slideUp {
    0% {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0)
    }

    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

@keyframes slideDown {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }

    100% {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0)
    }
}

body {
    font-size: 18px
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
td,
th,
span,
button {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    text-align: center;
    -webkit-font-kerning: auto;
    font-kerning: auto;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    word-wrap: break-word
}

#player {
    letter-spacing: 4px;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 24px;
    text-align: center;
    -webkit-font-kerning: auto;
    font-kerning: auto;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-transform: uppercase;
    color: #000;
    word-wrap: break-word;
    background: #f6bfbd;
    color: #000;
    font-size: 1.75em
}

input:focus,
textarea:focus,
button:focus,
textarea:focus {
    outline: none
}

.playerIcon {
    display: inline-block;
    vertical-align: middle;
    width: 35px;
    height: 35px;
    background-image: url("fibbage3/playerIcon.png")
}

.playerIcon.Avatar1 {
    background-image: url("fibbage3/playerIcon.png")
}

.playerIcon.Avatar2 {
    background-image: url("fibbage3/playerIcon_Avatar2.png")
}

.playerIcon.Avatar3 {
    background-image: url("fibbage3/playerIcon_Avatar3.png")
}

.playerIcon.Avatar4 {
    background-image: url("fibbage3/playerIcon_Avatar4.png")
}

.playerIcon.Avatar5 {
    background-image: url("fibbage3/playerIcon_Avatar5.png")
}

.playerIcon.Avatar6 {
    background-image: url("fibbage3/playerIcon_Avatar6.png")
}

.playerIcon.Avatar7 {
    background-image: url("fibbage3/playerIcon_Avatar7.png")
}

.playerIcon.Avatar8 {
    background-image: url("fibbage3/playerIcon_Avatar8.png")
}

.playerIcon.none {
    display: none
}

.playerName {
    display: inline-block
}

.artifactButton {
    background-image: url("fibbage3/artifactButton_2.png")
}

.controller-page {
    background-color: #fffbe0
}

.controller-page .Logo {
    width: 100%;
    height: 100%;
    text-align: center;
    text-transform: uppercase;
    background: #f6bfbd url("fibbage3/controller-page_Logo.png");
    background-size: cover;
    background-position: center
}

.controller-page .CategorySelection {
    display: inline-block;
    width: 100%;
    min-height: 100%;
    background: #f6bfbd url("fibbage3/controller-page_CategorySelection.png");
    background-size: cover;
    background-position: center
}

.prompt {
    margin: 10px 0px
}

.choices {
    margin: 10px 0px
}

.choices .btn-group,
.btn.btn-block {
    background-image: url("fibbage3/choices_btn-group.png");
    background-size: 100% 100%;
    border-radius: 9px
}

.choices .btn-group button {
    background-color: rgba(0, 0, 0, 0)
}

button.btn {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 800;
    min-height: 48px;
    min-width: 144px;
    background-color: #b17e2d
}

button:active:focus,
button:active {
    outline: none
}

button.btn:focus,
button.btn:active:focus {
    outline: none
}

button.btn:active {
    background-image: none;
    background-color: #b17e2d;
    border-radius: 9px
}

.censor-button {
    width: auto;
    background-image: url("fibbage3/censor-button.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 48px
}

.censorMenu {
    background-color: #fcffd4;
    border: 5px solid #b17e2d
}

input.form-control,
textarea.form-control {
    color: #000;
    border-radius: 0px;
    border-color: #000;
    border-width: 2px;
    margin: 10px 0px;
    text-transform: uppercase;
    line-height: 24px;
    height: 36px;
    resize: none;
    overflow: hidden
}

.form-control:focus {
    border-color: #000;
    -webkit-box-shadow: none;
    box-shadow: none
}

.controller-page .EnterText {
    display: inline-block;
    width: 100%;
    min-height: 100%;
    background: #f6bfbd url("fibbage3/controller-page_CategorySelection.png");
    background-size: cover;
    background-position: center
}

.controller-page .ChooseLie {
    display: inline-block;
    width: 100%;
    background: #f6bfbd url("fibbage3/controller-page_ChooseLie.png")
}

.controller-page .ChooseLie.Standard.Round-1 {
    background: #f6bfbd url("fibbage3/controller-page_ChooseLie_Standard_Round-1.png")
}

.controller-page .ChooseLie.Standard.Round-2 {
    background: #f6bfbd url("fibbage3/controller-page_ChooseLie_Standard_Round-2.png")
}

.controller-page .ChooseLie.TMI.Round-0 {
    background: #f6bfbd url("fibbage3/controller-page_ChooseLie_TMI_Round-0.png")
}

.controller-page .ChooseLie.TMI.Round-1 {
    background: #f6bfbd url("fibbage3/controller-page_ChooseLie_TMI_Round-1.png")
}

.ChooseLie #player {
    background-color: #fcffd4
}

.ChooseLike .controller-content {
    max-width: none
}

.ChooseLike .chosen {
    display: none
}

.ChooseLike #choices {
    padding: 0px
}

.ChooseLike .btn-group {
    margin: 0px;
    background-image: none
}

.ChooseLike button.button {
    background-image: none;
    border-radius: 0px;
    min-height: 48px
}

.ChooseLike button.censor-button {
    min-width: 65px
}

.ChooseLike button.button.censor-button:after {
    content: " ";
    position: fixed;
    right: 30px;
    top: 12px;
    position: absolute;
    background-image: url("fibbage3/ChooseLike_button_button_censor-button_after.png");
    background-size: 100%;
    background-position: center;
    height: 24px;
    width: 24px
}

.ChooseLike .btn-group:nth-child(1) .button {
    background-color: #e80807
}

.ChooseLike .btn-group:nth-child(2) .button {
    background-color: #ff5b20
}

.ChooseLike .btn-group:nth-child(3) .button {
    background-color: #f56c93
}

.ChooseLike .btn-group:nth-child(4) .button {
    background-color: #f6bfbd
}

.ChooseLike .btn-group:nth-child(5) .button {
    background-color: #ffa739
}

.ChooseLike .btn-group:nth-child(6) .button {
    background-color: #ead953
}

.ChooseLike .btn-group:nth-child(7) .button {
    background-color: #87c5bc
}

.ChooseLike .btn-group:nth-child(8) .button {
    background-color: #a9c760
}

.ChooseLike .btn-group:nth-child(9) .button {
    background-color: #bce8e7
}

.ChooseLike .btn-group:nth-child(10) .button {
    background-color: #a67fab
}

.ChooseLike .button:nth-child(1) {
    font-weight: 700;
    padding-left: 35px;
    padding-right: 65px;
    text-align: left
}

.ChooseLike .choice-button:after {
    content: " ";
    position: fixed;
    right: 30px;
    position: absolute;
    background-image: url("fibbage3/ChooseLike_choice-button_after.png");
    background-size: 100%;
    background-position: bottom;
    height: 24px;
    width: 24px
}

.ChooseLike .liked .choice-button:after {
    background-position: top
}

.ChooseLike .choice-button:disabled {
    background-image: none
}

.fibbage-page {
    overflow-y: auto
}

.logo-image {
    background-size: contain;
    background-position: top;
    height: 80%;
    width: 90%;
    margin: auto
}

.Standard .logo-image {
    background: url("fibbage3/Standard_logo-image.png") no-repeat center;
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat
}

.TMI .logo-image {
    background-image: url("fibbage3/TMI_logo-image.png");
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat
}

.logo-image img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px
}

.round-main {
    min-height: 100%;
    width: 100%;
    height: 100%;
    display: table
}

.round-text {
    font-size: 3em;
    color: #fff;
    display: table-cell;
    vertical-align: middle;
    text-align: center
}

.audience-score {
    background: #000;
    border-radius: 5px;
    font-size: 3em;
    padding: 10px 25px
}

.audience-bonus-fact {
    background: #fff;
    color: #000;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    height: 100%
}

.button-container button {
    margin: 5px
}

input,
textarea {
    color: #000;
    background: #a09f9f;
    line-height: normal;
    border: 0;
    border-radius: 0px;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    resize: none
}

::-webkit-input-placeholder {
    color: #555
}

:-moz-placeholder {
    color: #555
}

::-moz-placeholder {
    color: #555
}

:-ms-input-placeholder {
    color: #555
}

.button-fibbage {
    color: #000;
    background-color: #fdf4b1;
    margin: 5px;
    border-radius: 5px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    word-wrap: break-word
}

.button-fibbage:hover {
    color: #000;
    background: #fdf4b1
}

.button-fibbage:active {
    background: #000;
    color: #fdf4b1
}

.button-fibbage-defib {
    background: #fff;
    color: #000
}

.button-fibbage-defib:hover {
    background: #fff;
    color: #000
}

.button-fibbage-defib:active {
    color: #fff;
    background: #000
}

.defib-icon {
    width: 20px;
    height: 20px;
    position: relative;
    bottom: 5px;
    -ms-transform: scale(2, 2);
    -webkit-transform: scale(2, 2);
    transform: scale(2, 2)
}

.button-fibbage-like {
    color: #000;
    background-color: #fdf4b1;
    vertical-align: middle;
    word-wrap: break-word
}

.button-fibbage-like:hover {
    color: #000;
    background: #fdf4b1
}

.button-fibbage-like:active {
    color: #fdf4b1;
    background: #000
}

.button-fibbage-liked {
    color: #000;
    background-color: #fdf4b1;
    vertical-align: middle;
    word-wrap: break-word
}

.button-fibbage-liked:hover {
    color: #000;
    background: #fdf4b1
}

.button-fibbage-liked:active {
    color: #fdf4b1;
    background: #000
}

.like-checkbox {
    float: right;
    padding-left: 15px;
    text-align: right;
    vertical-align: middle;
    word-wrap: break-word
}

.like-text {
    width: 100%;
    float: left;
    text-align: left;
    word-wrap: break-word
}

.button-fibbage-loading {
    background: #fff url("fibbage3/button-fibbage-loading.gif") no-repeat center;
    background-size: contain;
    color: rgba(0, 0, 0, 0);
    width: 32px;
    height: 32px;
    text-align: center;
    margin-left: auto;
    margin-right: auto
}

.fibbage-preload {
    content: url "../images/loading.gif";
    display: none
}

.fibbage-button-red {
    background: red !important
}

.fibbage-censorable {
    width: 70%
}

a.gallery-link {
    color: #000;
    text-decoration: none
}

a.gallery-link img {
    max-width: 100%;
    height: auto;
    border: 5px solid #000;
    border-radius: 15%/30%
}

#detail {
    margin-top: 50px
}

.color-DB91B8 #player,
.color-DB91B8 #game,
.color-DB91B8 #fibbage-lie-input {
    background-color: #db91b8
}

.color-76C4C4 #player,
.color-76C4C4 #game,
.color-76C4C4 #fibbage-lie-input {
    background-color: #76c4c4
}

.color-6F9E6F #player,
.color-6F9E6F #game,
.color-6F9E6F #fibbage-lie-input {
    background-color: #6f9e6f
}

button.liked {
    background-color: #ff0
}

@media only screen and (max-width: 350px) {
    button.btn {
        background: red;
        min-width: 125px
    }
}

/*# sourceMappingURL=sourcemaps/5157.css.map*/