.post-banner {
    position: fixed;
    bottom: -40px;
    width: 100%;
    height: 40px;
    padding: 4px 5px 0 45px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 14px;
    opacity: 0;
    transition: transform .4s cubic-bezier(0.3, 1.5, 0.75, 1.5), opacity 0s .3s
}

.post-banner.show {
    opacity: 1;
    transform: translateY(-30px);
    transition: transform .4s cubic-bezier(0.3, 1.5, 0.75, 1.5), opacity 0s 0s
}

.post-banner .banner-image {
    position: absolute;
    top: -20px;
    left: 5px;
    width: 45px;
    height: 45px;
    background-size: contain;
    background-repeat: no-repeat
}

.post-banner .banner-text {
    display: inline-block;
    color: #fff
}

.post-banner .banner-cta {
    display: inline-block;
    padding: 3px 7px;
    margin-left: 3px;
    color: #000;
    background-color: #fff;
    border-radius: 15px;
    line-height: 1;
    text-transform: uppercase;
    box-shadow: 0 3px 0 rgba(0, 0, 0, .3)
}

@media(max-width: 350px) {
    .post-banner {
        font-size: 12px;
        padding: 4px 5px 0 35px
    }

    .post-banner .banner-image {
        top: -10px;
        width: 35px;
        height: 35px
    }

    .post-banner .banner-cta {
        padding: 3px 6px
    }
}

.post-banner.no-theme {
    padding: 4px 5px 0 4px;
    background: #000;
    border-top: 2px solid #fff
}

.post-banner.no-theme .banner-image {
    display: none
}

.post-banner.no-theme .banner-text {
    display: inline-block
}

.post-banner.no-theme .banner-cta {
    display: inline-block;
    text-transform: uppercase
}

.post-banner.tjpp7 {
    background: #0086ca;
    border-top: 2px solid #000
}

.post-banner.tjpp7 .banner-image {
    background-image: url("wordspud/post-banner_tjpp7_banner-image.png")
}

.post-banner.tjpp7 .banner-text {
    color: #fff
}

.post-banner.tjpp7 .banner-cta {
    color: #fff;
    background-color: #ff000a
}

.post-banner.tjpp6 {
    background: #ff85e2;
    border-top: 2px solid #fff
}

.post-banner.tjpp6 .banner-image {
    background-image: url("wordspud/post-banner_tjpp6_banner-image.png")
}

.post-banner.tjpp6 .banner-cta {
    color: #fff;
    background: #00c9b9
}

@font-face {
    font-family: "Rubik";
    src: url("wordspud/a4bece5c270c316c1c24.ttf");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: "Rubik";
    src: url("wordspud/2263cf4bbb29e585de1b.ttf");
    font-weight: 500;
    font-style: normal
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
td,
th {
    font-weight: 700
}

.button-primary {
    background: #000;
    color: #fff
}

.button-xlarge {
    border-width: 0px;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 5px;
    border-radius: 10px
}

.button-large {
    border-radius: 10px
}

.post-banner {
    cursor: pointer
}

.button-blue {
    color: #fff;
    background: #3e55fe;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.button-blue:active {
    color: #3e55fe;
    background: #000
}

.button-gray {
    color: #3e55fe;
    background: #ccc;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent
}

.button-gray:active {
    color: #3e55fe;
    background: #000
}

.button-help-text {
    display: inline
}

@media screen and (max-width: 480px) {
    .button-help-text {
        display: none
    }
}

.button-black {
    color: #fff;
    background: #333
}

.debug {
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: .6
}

.debug span {
    pointer-events: none;
    user-select: none
}

.text-signin {
    color: #3e55fe
}

.jbg-input {
    font-size: 1.3em
}

.close {
    font-size: 20px;
    font-weight: bold;
    line-height: 18px;
    color: #000;
    background: transparent;
    border: none !important;
    text-decoration: none;
    content: "x";
    right: 10px;
    position: absolute
}

.close:hover {
    color: #666
}

.button-yes {
    background: #1cb841
}

.button-no {
    background: #ca3c3c
}

.image-hand {
    background: url("wordspud/image-hand.png");
    cursor: pointer;
    border: none;
    width: 126px;
    height: 700px
}

canvas {
    touch-action: none
}

.jbgTwitchContainer {
    padding: 0
}

.jbgTwitchPopup {
    background-color: #fcfcfc;
    border-radius: 0px;
    width: 495px;
    position: inherit;
    box-shadow: 0px 0px 13px rgba(0, 0, 0, .23)
}

.jbgTwitchPopup.jbgTwitchShow {
    animation-name: slideUp;
    animation-duration: .6s
}

.jbgTwitchPopup.jbgTwitchHide {
    animation-name: slideDown;
    animation-duration: .6s
}

.jbgTwitchContent {
    font-family: "Rubik", sans-serif;
    color: #0c0c0c;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    text-align: left
}

.jbgTwitchContent .icon-twitch {
    height: 50px;
    line-height: 50px;
    margin: 30px 0px 17px 0px;
    color: #9146ff;
    padding-left: 50px;
    background: url("wordspud/jbgTwitchContent_icon-twitch.svg") no-repeat center left/40px
}

.jbgTwitchContent .success {
    padding-bottom: 20px
}

.jbgTwitchContent .warning {
    border-top: 1px solid #cdcdcd;
    padding: 20px 0px;
    line-height: normal;
    color: #0c0c0c;
    padding-left: 50px;
    background: url("wordspud/jbgTwitchContent_warning.png") no-repeat center left/40px
}

.jbgCloseButton {
    top: 16px;
    right: 13px
}

@keyframes slideUp {
    0% {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0)
    }

    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

@keyframes slideDown {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }

    100% {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0)
    }
}

#player {
    background: #333;
    color: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    text-align: center
}

h3 {
    font-size: 24px
}

.wordspud-page {
    overflow-y: auto;
    padding: 5px
}

.container {
    max-width: 480px
}

.game {
    text-transform: lowercase
}

.button-wordspud {
    color: #333;
    background: #fff;
    border-top-color: #333;
    margin-top: 10px;
    margin-left: 0px;
    margin-right: 0px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.button-wordspud:hover {
    color: #333;
    background: #fff
}

.button-wordspud:active {
    color: #fff;
    background: #333
}

p,
h2,
h3,
h4,
h5,
h6,
td,
th {
    font-family: "Merriweather Sans";
    font-weight: 700;
    text-align: center;
    color: #fff;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.button-wordspud-yes {
    color: #cbcbcb;
    background: #1d9e74;
    border-top-color: #cbcbcb;
    margin-top: 10px;
    margin-left: 0px;
    margin-right: 0px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.button-wordspud-yes:hover {
    color: #cbcbcb;
    background: #1d9e74
}

.button-wordspud-yes:active {
    color: #1d9e74;
    background: #cbcbcb
}

.button-wordspud-no {
    color: #cbcbcb;
    background: #8a0618;
    border-top-color: #cbcbcb;
    margin-top: 10px;
    margin-left: 0px;
    margin-right: 0px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.button-wordspud-no:hover {
    color: #cbcbcb;
    background: #8a0618
}

.button-wordspud-no:active {
    color: #8a0618;
    background: #cbcbcb
}

.state-writing {
    background: #000
}

/*# sourceMappingURL=sourcemaps/977.css.map*/