.jbg[data-v-2ea0b5fc] {
    background: #fff;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 10px;
    font-weight: bold;
    color: #333
}

.jbg a[data-v-2ea0b5fc] {
    color: #4254f4;
    text-decoration: none
}

.jbg h1[data-v-2ea0b5fc] {
    font-size: 2em
}

.jbg button[data-v-2ea0b5fc] {
    cursor: pointer;
    height: 48px;
    width: calc(100% - 50px);
    margin: 10px 25px 15px;
    border: none;
    border-radius: 12px;
    font-size: 18px;
    font-weight: bold;
    background-color: #4254f4;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 5px 0 0 #0e167d;
    transition: color .5s, background-position .5s, box-shadow .5s
}

.jbg button .loading[data-v-2ea0b5fc] {
    display: none
}

.jbg button.connecting span[data-v-2ea0b5fc] {
    display: none
}

.jbg button.connecting .loading[data-v-2ea0b5fc] {
    display: block
}

.jbg button.cancel[data-v-2ea0b5fc] {
    background-color: #333;
    box-shadow: 0 5px 0 0 #161616
}

.jbg button[data-v-2ea0b5fc]:disabled {
    background: #e0e0e0;
    color: #505050;
    box-shadow: 0 0 0 0 #505050
}

.jbg form[data-v-2ea0b5fc] {
    margin: 0px auto 5px;
    padding: 70px 15px 0px 15px
}

.jbg label[data-v-2ea0b5fc] {
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;
    padding: 0 12px;
    color: #333;
    font-size: 17px
}

.jbg input[data-v-2ea0b5fc],
.jbg textarea[data-v-2ea0b5fc] {
    width: 100%;
    height: 34px;
    margin-bottom: 15px;
    padding: 20px 12px;
    background-color: #e0e0e0;
    border: 0px solid;
    border-radius: 12px;
    color: #000;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase
}

.jbg input[data-v-2ea0b5fc]::placeholder,
.jbg textarea[data-v-2ea0b5fc]::placeholder {
    color: #505050
}

.jbg input[data-v-2ea0b5fc]:disabled,
.jbg textarea[data-v-2ea0b5fc]:disabled {
    background: #e0e0e0;
    color: #505050;
    cursor: not-allowed;
    user-select: none
}

.jbg textarea[data-v-2ea0b5fc] {
    height: auto;
    padding: 12px;
    font-size: 14px
}

.jbg .loading[data-v-2ea0b5fc],
.jbg .loading[data-v-2ea0b5fc]::before,
.jbg .loading[data-v-2ea0b5fc]::after {
    width: 12px;
    height: 12px;
    border: 2px solid #0e167d;
    border-radius: 50%;
    background: #4254f4;
    animation-fill-mode: both;
    animation: loading-data-v-2ea0b5fc 1.5s infinite ease-in-out
}

.jbg .loading[data-v-2ea0b5fc] {
    position: relative;
    margin: 18px auto;
    animation-delay: -0.25s
}

.jbg .loading[data-v-2ea0b5fc]::before,
.jbg .loading[data-v-2ea0b5fc]::after {
    content: "";
    position: absolute;
    top: -2px
}

.jbg .loading[data-v-2ea0b5fc]::before {
    left: -22px;
    animation-delay: -0.5s
}

.jbg .loading[data-v-2ea0b5fc]::after {
    left: 18px
}

.jbg .disabled.loading[data-v-2ea0b5fc],
.jbg .disabled.loading[data-v-2ea0b5fc]::before,
.jbg .disabled.loading[data-v-2ea0b5fc]::after {
    border: 2px solid #505050;
    background: #e0e0e0;
    animation-name: loading-disabled-data-v-2ea0b5fc
}

@keyframes loading-data-v-2ea0b5fc {

    0%,
    20%,
    80%,
    100% {
        background-color: #0e167d
    }

    50% {
        background-color: #4254f4
    }
}

@keyframes loading-disabled-data-v-2ea0b5fc {

    0%,
    20%,
    80%,
    100% {
        background-color: #505050
    }

    50% {
        background-color: #e0e0e0
    }
}

.jbg input[data-v-2ea0b5fc] {
    background: #fff
}

.jbg label[data-v-2ea0b5fc],
.jbg button[data-v-2ea0b5fc] {
    text-transform: uppercase
}

.jbg button[data-v-2ea0b5fc]:disabled {
    background: #505050;
    color: #fff;
    box-shadow: 0 0 0 0 #333
}

.warning[data-v-2ea0b5fc] {
    padding: 0 10px 15px;
    color: #cf2929;
    font-size: 14px
}

.jbg[data-v-748ebaa0] {
    background: #fff;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 10px;
    font-weight: bold;
    color: #333
}

.jbg a[data-v-748ebaa0] {
    color: #4254f4;
    text-decoration: none
}

.jbg h1[data-v-748ebaa0] {
    font-size: 2em
}

.jbg button[data-v-748ebaa0] {
    cursor: pointer;
    height: 48px;
    width: calc(100% - 50px);
    margin: 10px 25px 15px;
    border: none;
    border-radius: 12px;
    font-size: 18px;
    font-weight: bold;
    background-color: #4254f4;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 5px 0 0 #0e167d;
    transition: color .5s, background-position .5s, box-shadow .5s
}

.jbg button .loading[data-v-748ebaa0] {
    display: none
}

.jbg button.connecting span[data-v-748ebaa0] {
    display: none
}

.jbg button.connecting .loading[data-v-748ebaa0] {
    display: block
}

.jbg button.cancel[data-v-748ebaa0] {
    background-color: #333;
    box-shadow: 0 5px 0 0 #161616
}

.jbg button[data-v-748ebaa0]:disabled {
    background: #e0e0e0;
    color: #505050;
    box-shadow: 0 0 0 0 #505050
}

.jbg form[data-v-748ebaa0] {
    margin: 0px auto 5px;
    padding: 70px 15px 0px 15px
}

.jbg label[data-v-748ebaa0] {
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;
    padding: 0 12px;
    color: #333;
    font-size: 17px
}

.jbg input[data-v-748ebaa0],
.jbg textarea[data-v-748ebaa0] {
    width: 100%;
    height: 34px;
    margin-bottom: 15px;
    padding: 20px 12px;
    background-color: #e0e0e0;
    border: 0px solid;
    border-radius: 12px;
    color: #000;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase
}

.jbg input[data-v-748ebaa0]::placeholder,
.jbg textarea[data-v-748ebaa0]::placeholder {
    color: #505050
}

.jbg input[data-v-748ebaa0]:disabled,
.jbg textarea[data-v-748ebaa0]:disabled {
    background: #e0e0e0;
    color: #505050;
    cursor: not-allowed;
    user-select: none
}

.jbg textarea[data-v-748ebaa0] {
    height: auto;
    padding: 12px;
    font-size: 14px
}

.jbg .loading[data-v-748ebaa0],
.jbg .loading[data-v-748ebaa0]::before,
.jbg .loading[data-v-748ebaa0]::after {
    width: 12px;
    height: 12px;
    border: 2px solid #0e167d;
    border-radius: 50%;
    background: #4254f4;
    animation-fill-mode: both;
    animation: loading-data-v-748ebaa0 1.5s infinite ease-in-out
}

.jbg .loading[data-v-748ebaa0] {
    position: relative;
    margin: 18px auto;
    animation-delay: -0.25s
}

.jbg .loading[data-v-748ebaa0]::before,
.jbg .loading[data-v-748ebaa0]::after {
    content: "";
    position: absolute;
    top: -2px
}

.jbg .loading[data-v-748ebaa0]::before {
    left: -22px;
    animation-delay: -0.5s
}

.jbg .loading[data-v-748ebaa0]::after {
    left: 18px
}

.jbg .disabled.loading[data-v-748ebaa0],
.jbg .disabled.loading[data-v-748ebaa0]::before,
.jbg .disabled.loading[data-v-748ebaa0]::after {
    border: 2px solid #505050;
    background: #e0e0e0;
    animation-name: loading-disabled-data-v-748ebaa0
}

@keyframes loading-data-v-748ebaa0 {

    0%,
    20%,
    80%,
    100% {
        background-color: #0e167d
    }

    50% {
        background-color: #4254f4
    }
}

@keyframes loading-disabled-data-v-748ebaa0 {

    0%,
    20%,
    80%,
    100% {
        background-color: #505050
    }

    50% {
        background-color: #e0e0e0
    }
}

.stage[data-v-748ebaa0] {
    width: 100%;
    max-width: 300px;
    margin-top: 15px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    background: #fff;
    pointer-events: none
}

.accepted .stage[data-v-748ebaa0] {
    border-color: #1f7e12
}

.rejected .stage[data-v-748ebaa0] {
    border-color: #a23636
}

.jbg[data-v-1b51919a] {
    background: #fff;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 10px;
    font-weight: bold;
    color: #333
}

.jbg a[data-v-1b51919a] {
    color: #4254f4;
    text-decoration: none
}

.jbg h1[data-v-1b51919a] {
    font-size: 2em
}

.jbg button[data-v-1b51919a] {
    cursor: pointer;
    height: 48px;
    width: calc(100% - 50px);
    margin: 10px 25px 15px;
    border: none;
    border-radius: 12px;
    font-size: 18px;
    font-weight: bold;
    background-color: #4254f4;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 5px 0 0 #0e167d;
    transition: color .5s, background-position .5s, box-shadow .5s
}

.jbg button .loading[data-v-1b51919a] {
    display: none
}

.jbg button.connecting span[data-v-1b51919a] {
    display: none
}

.jbg button.connecting .loading[data-v-1b51919a] {
    display: block
}

.jbg button.cancel[data-v-1b51919a] {
    background-color: #333;
    box-shadow: 0 5px 0 0 #161616
}

.jbg button[data-v-1b51919a]:disabled {
    background: #e0e0e0;
    color: #505050;
    box-shadow: 0 0 0 0 #505050
}

.jbg form[data-v-1b51919a] {
    margin: 0px auto 5px;
    padding: 70px 15px 0px 15px
}

.jbg label[data-v-1b51919a] {
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;
    padding: 0 12px;
    color: #333;
    font-size: 17px
}

.jbg input[data-v-1b51919a],
.jbg textarea[data-v-1b51919a] {
    width: 100%;
    height: 34px;
    margin-bottom: 15px;
    padding: 20px 12px;
    background-color: #e0e0e0;
    border: 0px solid;
    border-radius: 12px;
    color: #000;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase
}

.jbg input[data-v-1b51919a]::placeholder,
.jbg textarea[data-v-1b51919a]::placeholder {
    color: #505050
}

.jbg input[data-v-1b51919a]:disabled,
.jbg textarea[data-v-1b51919a]:disabled {
    background: #e0e0e0;
    color: #505050;
    cursor: not-allowed;
    user-select: none
}

.jbg textarea[data-v-1b51919a] {
    height: auto;
    padding: 12px;
    font-size: 14px
}

.jbg .loading[data-v-1b51919a],
.jbg .loading[data-v-1b51919a]::before,
.jbg .loading[data-v-1b51919a]::after {
    width: 12px;
    height: 12px;
    border: 2px solid #0e167d;
    border-radius: 50%;
    background: #4254f4;
    animation-fill-mode: both;
    animation: loading-data-v-1b51919a 1.5s infinite ease-in-out
}

.jbg .loading[data-v-1b51919a] {
    position: relative;
    margin: 18px auto;
    animation-delay: -0.25s
}

.jbg .loading[data-v-1b51919a]::before,
.jbg .loading[data-v-1b51919a]::after {
    content: "";
    position: absolute;
    top: -2px
}

.jbg .loading[data-v-1b51919a]::before {
    left: -22px;
    animation-delay: -0.5s
}

.jbg .loading[data-v-1b51919a]::after {
    left: 18px
}

.jbg .disabled.loading[data-v-1b51919a],
.jbg .disabled.loading[data-v-1b51919a]::before,
.jbg .disabled.loading[data-v-1b51919a]::after {
    border: 2px solid #505050;
    background: #e0e0e0;
    animation-name: loading-disabled-data-v-1b51919a
}

@keyframes loading-data-v-1b51919a {

    0%,
    20%,
    80%,
    100% {
        background-color: #0e167d
    }

    50% {
        background-color: #4254f4
    }
}

@keyframes loading-disabled-data-v-1b51919a {

    0%,
    20%,
    80%,
    100% {
        background-color: #505050
    }

    50% {
        background-color: #e0e0e0
    }
}

.stage[data-v-1b51919a] {
    width: 100%;
    max-width: 300px;
    margin-top: 15px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    background-image: linear-gradient(45deg, #aaaaaa 25%, transparent 25%), linear-gradient(-45deg, #aaaaaa 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #aaaaaa 75%), linear-gradient(-45deg, transparent 75%, #aaaaaa 75%);
    background-position: 0 0, 0 5px, 5px -5px, -5px 0px;
    background-size: 10px 10px
}

.accepted .stage[data-v-1b51919a] {
    border-color: #1f7e12
}

.rejected .stage[data-v-1b51919a] {
    border-color: #a23636
}

.jbg[data-v-5975197a] {
    background: #fff;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 10px;
    font-weight: bold;
    color: #333
}

.jbg a[data-v-5975197a] {
    color: #4254f4;
    text-decoration: none
}

.jbg h1[data-v-5975197a] {
    font-size: 2em
}

.jbg button[data-v-5975197a] {
    cursor: pointer;
    height: 48px;
    width: calc(100% - 50px);
    margin: 10px 25px 15px;
    border: none;
    border-radius: 12px;
    font-size: 18px;
    font-weight: bold;
    background-color: #4254f4;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 5px 0 0 #0e167d;
    transition: color .5s, background-position .5s, box-shadow .5s
}

.jbg button .loading[data-v-5975197a] {
    display: none
}

.jbg button.connecting span[data-v-5975197a] {
    display: none
}

.jbg button.connecting .loading[data-v-5975197a] {
    display: block
}

.jbg button.cancel[data-v-5975197a] {
    background-color: #333;
    box-shadow: 0 5px 0 0 #161616
}

.jbg button[data-v-5975197a]:disabled {
    background: #e0e0e0;
    color: #505050;
    box-shadow: 0 0 0 0 #505050
}

.jbg form[data-v-5975197a] {
    margin: 0px auto 5px;
    padding: 70px 15px 0px 15px
}

.jbg label[data-v-5975197a] {
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;
    padding: 0 12px;
    color: #333;
    font-size: 17px
}

.jbg input[data-v-5975197a],
.jbg textarea[data-v-5975197a] {
    width: 100%;
    height: 34px;
    margin-bottom: 15px;
    padding: 20px 12px;
    background-color: #e0e0e0;
    border: 0px solid;
    border-radius: 12px;
    color: #000;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase
}

.jbg input[data-v-5975197a]::placeholder,
.jbg textarea[data-v-5975197a]::placeholder {
    color: #505050
}

.jbg input[data-v-5975197a]:disabled,
.jbg textarea[data-v-5975197a]:disabled {
    background: #e0e0e0;
    color: #505050;
    cursor: not-allowed;
    user-select: none
}

.jbg textarea[data-v-5975197a] {
    height: auto;
    padding: 12px;
    font-size: 14px
}

.jbg .loading[data-v-5975197a],
.jbg .loading[data-v-5975197a]::before,
.jbg .loading[data-v-5975197a]::after {
    width: 12px;
    height: 12px;
    border: 2px solid #0e167d;
    border-radius: 50%;
    background: #4254f4;
    animation-fill-mode: both;
    animation: loading-data-v-5975197a 1.5s infinite ease-in-out
}

.jbg .loading[data-v-5975197a] {
    position: relative;
    margin: 18px auto;
    animation-delay: -0.25s
}

.jbg .loading[data-v-5975197a]::before,
.jbg .loading[data-v-5975197a]::after {
    content: "";
    position: absolute;
    top: -2px
}

.jbg .loading[data-v-5975197a]::before {
    left: -22px;
    animation-delay: -0.5s
}

.jbg .loading[data-v-5975197a]::after {
    left: 18px
}

.jbg .disabled.loading[data-v-5975197a],
.jbg .disabled.loading[data-v-5975197a]::before,
.jbg .disabled.loading[data-v-5975197a]::after {
    border: 2px solid #505050;
    background: #e0e0e0;
    animation-name: loading-disabled-data-v-5975197a
}

@keyframes loading-data-v-5975197a {

    0%,
    20%,
    80%,
    100% {
        background-color: #0e167d
    }

    50% {
        background-color: #4254f4
    }
}

@keyframes loading-disabled-data-v-5975197a {

    0%,
    20%,
    80%,
    100% {
        background-color: #505050
    }

    50% {
        background-color: #e0e0e0
    }
}

.stage[data-v-5975197a] {
    width: 100%;
    max-width: 300px;
    margin-top: 15px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    background: #fff;
    pointer-events: none
}

.accepted .stage[data-v-5975197a] {
    border-color: #1f7e12
}

.rejected .stage[data-v-5975197a] {
    border-color: #a23636
}

.jbg[data-v-7686b6ac] {
    background: #fff;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 10px;
    font-weight: bold;
    color: #333
}

.jbg a[data-v-7686b6ac] {
    color: #4254f4;
    text-decoration: none
}

.jbg h1[data-v-7686b6ac] {
    font-size: 2em
}

.jbg button[data-v-7686b6ac] {
    cursor: pointer;
    height: 48px;
    width: calc(100% - 50px);
    margin: 10px 25px 15px;
    border: none;
    border-radius: 12px;
    font-size: 18px;
    font-weight: bold;
    background-color: #4254f4;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 5px 0 0 #0e167d;
    transition: color .5s, background-position .5s, box-shadow .5s
}

.jbg button .loading[data-v-7686b6ac] {
    display: none
}

.jbg button.connecting span[data-v-7686b6ac] {
    display: none
}

.jbg button.connecting .loading[data-v-7686b6ac] {
    display: block
}

.jbg button.cancel[data-v-7686b6ac] {
    background-color: #333;
    box-shadow: 0 5px 0 0 #161616
}

.jbg button[data-v-7686b6ac]:disabled {
    background: #e0e0e0;
    color: #505050;
    box-shadow: 0 0 0 0 #505050
}

.jbg form[data-v-7686b6ac] {
    margin: 0px auto 5px;
    padding: 70px 15px 0px 15px
}

.jbg label[data-v-7686b6ac] {
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;
    padding: 0 12px;
    color: #333;
    font-size: 17px
}

.jbg input[data-v-7686b6ac],
.jbg textarea[data-v-7686b6ac] {
    width: 100%;
    height: 34px;
    margin-bottom: 15px;
    padding: 20px 12px;
    background-color: #e0e0e0;
    border: 0px solid;
    border-radius: 12px;
    color: #000;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase
}

.jbg input[data-v-7686b6ac]::placeholder,
.jbg textarea[data-v-7686b6ac]::placeholder {
    color: #505050
}

.jbg input[data-v-7686b6ac]:disabled,
.jbg textarea[data-v-7686b6ac]:disabled {
    background: #e0e0e0;
    color: #505050;
    cursor: not-allowed;
    user-select: none
}

.jbg textarea[data-v-7686b6ac] {
    height: auto;
    padding: 12px;
    font-size: 14px
}

.jbg .loading[data-v-7686b6ac],
.jbg .loading[data-v-7686b6ac]::before,
.jbg .loading[data-v-7686b6ac]::after {
    width: 12px;
    height: 12px;
    border: 2px solid #0e167d;
    border-radius: 50%;
    background: #4254f4;
    animation-fill-mode: both;
    animation: loading-data-v-7686b6ac 1.5s infinite ease-in-out
}

.jbg .loading[data-v-7686b6ac] {
    position: relative;
    margin: 18px auto;
    animation-delay: -0.25s
}

.jbg .loading[data-v-7686b6ac]::before,
.jbg .loading[data-v-7686b6ac]::after {
    content: "";
    position: absolute;
    top: -2px
}

.jbg .loading[data-v-7686b6ac]::before {
    left: -22px;
    animation-delay: -0.5s
}

.jbg .loading[data-v-7686b6ac]::after {
    left: 18px
}

.jbg .disabled.loading[data-v-7686b6ac],
.jbg .disabled.loading[data-v-7686b6ac]::before,
.jbg .disabled.loading[data-v-7686b6ac]::after {
    border: 2px solid #505050;
    background: #e0e0e0;
    animation-name: loading-disabled-data-v-7686b6ac
}

@keyframes loading-data-v-7686b6ac {

    0%,
    20%,
    80%,
    100% {
        background-color: #0e167d
    }

    50% {
        background-color: #4254f4
    }
}

@keyframes loading-disabled-data-v-7686b6ac {

    0%,
    20%,
    80%,
    100% {
        background-color: #505050
    }

    50% {
        background-color: #e0e0e0
    }
}

.jbg .constrain[data-v-7686b6ac] {
    min-width: 300px;
    max-width: 680px;
    padding: 0 15px
}

.jbg .constrain button[data-v-7686b6ac] {
    background-color: transparent
}

.player-container[data-v-7686b6ac] {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 60px;
    justify-content: flex-start;
    flex-basis: auto
}

.player-container .player-item[data-v-7686b6ac] {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: #fff;
    margin: 5px;
    flex-basis: calc(20% - 10px);
    align-content: center;
    align-items: center
}

.player-container .player-item .player-name[data-v-7686b6ac] {
    font-size: 14px;
    color: gray;
    margin-top: 5px;
    text-align: center
}

.player-container .player-item .kick-button[data-v-7686b6ac] {
    border-radius: 20px;
    background-color: #a23636;
    height: 30px;
    width: 80%;
    box-shadow: 0px 3px 3px gray
}

.player-container .player-item .kick-button .kick-button-text[data-v-7686b6ac] {
    margin-top: 10px;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase
}

.player-container .player-item .kicked-message[data-v-7686b6ac] {
    color: gray;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase
}

.top-buttons[data-v-7686b6ac] {
    margin: 75px -20px 20px;
    padding-bottom: 20px;
    text-align: center;
    border-bottom: 1px solid #505050
}

.top-buttons button[data-v-7686b6ac] {
    position: relative;
    height: 40px;
    margin: 0 6px;
    width: auto;
    padding: 6px 12px 6px 50px;
    color: #fff;
    text-transform: uppercase;
    border: 3px solid;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 700;
    box-shadow: none;
    overflow: hidden
}

.top-buttons button[data-v-7686b6ac]:focus {
    outline: none
}

.top-buttons button[data-v-7686b6ac]::after {
    content: "";
    position: absolute;
    top: -6px;
    left: -4px;
    width: 46px;
    height: 46px;
    border-radius: 23px;
    background-size: 180px 35px;
    background-position: -135px 5px;
    background-repeat: no-repeat
}

.top-buttons button[data-v-7686b6ac]:disabled {
    color: #505050;
    background-position: -135px 5px
}

.top-buttons button[data-v-7686b6ac]:disabled::after {
    background-position: 1px 5px
}

.top-buttons button.approve[data-v-7686b6ac] {
    background: #1f7e12;
    border-color: #114a09
}

.top-buttons button.approve[data-v-7686b6ac]::after {
    background-color: #114a09;
    background-image: url(assets/cbe3cc4f8f92477ebcf1.png)
}

.top-buttons button.reject[data-v-7686b6ac] {
    background: #a23636;
    border-color: #520a0a
}

.top-buttons button.reject[data-v-7686b6ac]::after {
    background-color: #520a0a;
    background-image: url(assets/a7d0f43bcbe8ec696822.png)
}

.top-buttons button[data-v-7686b6ac]:disabled {
    color: #505050;
    background: #e0e0e0;
    border-color: #505050;
    background-position: -135px 5px
}

.top-buttons button[data-v-7686b6ac]:disabled::after {
    background-position: 1px 5px;
    background-color: #505050
}

.empty-text[data-v-7686b6ac] {
    padding-top: 12px;
    color: #505050;
    font-size: 14px;
    text-align: center
}

[data-v-7686b6ac] .item {
    position: relative;
    width: 100%;
    min-height: 120px;
    margin-bottom: 15px;
    padding: 13px 90px 40px 13px;
    border: 2px solid transparent;
    border-radius: 14px;
    background: #fff;
    text-align: left;
    color: #333;
    box-shadow: 0 0 12px 0 #999;
    overflow: hidden
}

[data-v-7686b6ac] .item .context {
    padding-bottom: 5px;
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: normal;
    color: #505050;
    border-bottom: 1px solid #e0e0e0
}

[data-v-7686b6ac] .item .value {
    font-size: 20px;
    font-weight: bolder;
    word-break: break-word;
    white-space: pre-wrap
}

[data-v-7686b6ac] .item .name {
    position: absolute;
    bottom: 12px;
    left: 15px;
    font-size: 13px;
    color: #505050;
    font-weight: normal
}

[data-v-7686b6ac] .item .name span {
    color: #333;
    font-weight: bold
}

[data-v-7686b6ac] .item.accepted {
    border-color: #1f7e12;
    box-shadow: none
}

[data-v-7686b6ac] .item.accepted .context {
    color: #1f7e12;
    border-color: #1f7e12
}

[data-v-7686b6ac] .item.accepted .value {
    color: #114a09
}

[data-v-7686b6ac] .item.accepted .name {
    color: #1f7e12
}

[data-v-7686b6ac] .item.accepted .name span {
    color: #114a09
}

[data-v-7686b6ac] .item.rejected {
    border-color: #a23636;
    box-shadow: none;
    background-color: #f8d4d4
}

[data-v-7686b6ac] .item.rejected .context {
    color: #a23636;
    border-color: #a23636
}

[data-v-7686b6ac] .item.rejected .value {
    color: #520a0a;
    text-decoration: line-through
}

[data-v-7686b6ac] .item.rejected .name {
    color: #a23636
}

[data-v-7686b6ac] .item.rejected .name span {
    color: #520a0a
}

[data-v-7686b6ac] .item-buttons {
    position: absolute;
    top: -2px;
    bottom: -2px;
    right: 0;
    width: 65px;
    padding: 10px;
    text-align: right;
    background: #f9f9f9
}

.rejected[data-v-7686b6ac] .item-buttons {
    background: #ffbdbd
}

[data-v-7686b6ac] .item-buttons button {
    height: 45px;
    width: 45px;
    margin: 0 0 10px;
    border: 3px solid;
    border-radius: 22.5px;
    box-shadow: none;
    background-size: 180px 35px;
    background-position: -93px 2px;
    background-repeat: no-repeat;
    transition: none
}

[data-v-7686b6ac] .item-buttons button:focus {
    box-shadow: 0 0 10px 0 #4254f4
}

.rejected[data-v-7686b6ac] .item-buttons button.accept,
.rejected[data-v-7686b6ac] .item-buttons button.reject {
    opacity: .25;
    border-color: #a23636;
    background-color: transparent;
    background-position: -3px 2px
}

[data-v-7686b6ac] .item-buttons button.accept {
    border-color: #1f7e12;
    background-color: #fff;
    background-image: url(assets/cbe3cc4f8f92477ebcf1.png)
}

[data-v-7686b6ac] .item-buttons button.accept:active,
.accepted[data-v-7686b6ac] .item-buttons button.accept {
    border-color: #114a09;
    background-color: #1f7e12;
    background-position: -48px 2px
}

[data-v-7686b6ac] .item-buttons button.reject {
    border-color: #a23636;
    background-color: #fff;
    background-image: url(assets/a7d0f43bcbe8ec696822.png)
}

[data-v-7686b6ac] .item-buttons button.reject:active {
    border-color: #520a0a;
    background-color: #a23636;
    background-position: -48px 2px
}

.items-enter-active[data-v-7686b6ac],
.items-leave-active[data-v-7686b6ac] {
    transition: opacity .15s
}

.items-enter[data-v-7686b6ac],
.items-leave-to[data-v-7686b6ac] {
    opacity: 0
}

.jbg[data-v-05d701e0] {
    background: #fff;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 10px;
    font-weight: bold;
    color: #333
}

.jbg a[data-v-05d701e0] {
    color: #4254f4;
    text-decoration: none
}

.jbg h1[data-v-05d701e0] {
    font-size: 2em
}

.jbg button[data-v-05d701e0] {
    cursor: pointer;
    height: 48px;
    width: calc(100% - 50px);
    margin: 10px 25px 15px;
    border: none;
    border-radius: 12px;
    font-size: 18px;
    font-weight: bold;
    background-color: #4254f4;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 5px 0 0 #0e167d;
    transition: color .5s, background-position .5s, box-shadow .5s
}

.jbg button .loading[data-v-05d701e0] {
    display: none
}

.jbg button.connecting span[data-v-05d701e0] {
    display: none
}

.jbg button.connecting .loading[data-v-05d701e0] {
    display: block
}

.jbg button.cancel[data-v-05d701e0] {
    background-color: #333;
    box-shadow: 0 5px 0 0 #161616
}

.jbg button[data-v-05d701e0]:disabled {
    background: #e0e0e0;
    color: #505050;
    box-shadow: 0 0 0 0 #505050
}

.jbg form[data-v-05d701e0] {
    margin: 0px auto 5px;
    padding: 70px 15px 0px 15px
}

.jbg label[data-v-05d701e0] {
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;
    padding: 0 12px;
    color: #333;
    font-size: 17px
}

.jbg input[data-v-05d701e0],
.jbg textarea[data-v-05d701e0] {
    width: 100%;
    height: 34px;
    margin-bottom: 15px;
    padding: 20px 12px;
    background-color: #e0e0e0;
    border: 0px solid;
    border-radius: 12px;
    color: #000;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase
}

.jbg input[data-v-05d701e0]::placeholder,
.jbg textarea[data-v-05d701e0]::placeholder {
    color: #505050
}

.jbg input[data-v-05d701e0]:disabled,
.jbg textarea[data-v-05d701e0]:disabled {
    background: #e0e0e0;
    color: #505050;
    cursor: not-allowed;
    user-select: none
}

.jbg textarea[data-v-05d701e0] {
    height: auto;
    padding: 12px;
    font-size: 14px
}

.jbg .loading[data-v-05d701e0],
.jbg .loading[data-v-05d701e0]::before,
.jbg .loading[data-v-05d701e0]::after {
    width: 12px;
    height: 12px;
    border: 2px solid #0e167d;
    border-radius: 50%;
    background: #4254f4;
    animation-fill-mode: both;
    animation: loading-data-v-05d701e0 1.5s infinite ease-in-out
}

.jbg .loading[data-v-05d701e0] {
    position: relative;
    margin: 18px auto;
    animation-delay: -0.25s
}

.jbg .loading[data-v-05d701e0]::before,
.jbg .loading[data-v-05d701e0]::after {
    content: "";
    position: absolute;
    top: -2px
}

.jbg .loading[data-v-05d701e0]::before {
    left: -22px;
    animation-delay: -0.5s
}

.jbg .loading[data-v-05d701e0]::after {
    left: 18px
}

.jbg .disabled.loading[data-v-05d701e0],
.jbg .disabled.loading[data-v-05d701e0]::before,
.jbg .disabled.loading[data-v-05d701e0]::after {
    border: 2px solid #505050;
    background: #e0e0e0;
    animation-name: loading-disabled-data-v-05d701e0
}

@keyframes loading-data-v-05d701e0 {

    0%,
    20%,
    80%,
    100% {
        background-color: #0e167d
    }

    50% {
        background-color: #4254f4
    }
}

@keyframes loading-disabled-data-v-05d701e0 {

    0%,
    20%,
    80%,
    100% {
        background-color: #505050
    }

    50% {
        background-color: #e0e0e0
    }
}

.jbg.moderation[data-v-05d701e0] {
    height: 100%;
    overflow-y: scroll;
    background: #e0e0e0
}

.header[data-v-05d701e0] {
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    padding: 12px 15px;
    background: #0e167d;
    user-select: none;
    z-index: 100
}

.header .logo[data-v-05d701e0] {
    width: 100%;
    height: 28px;
    background-image: url(assets/bcbc03fa9a7917595aac.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat
}

.locale-fr .header .logo[data-v-05d701e0] {
    background-image: url(assets/ab9e2ad694dddc1f19bf.svg)
}

.locale-it .header .logo[data-v-05d701e0] {
    background-image: url(assets/0455efe18e8084e41576.svg)
}

.locale-es .header .logo[data-v-05d701e0] {
    background-image: url(assets/09823a6d572487766a1b.svg)
}

/*# sourceMappingURL=sourcemaps/2265.css.map*/